<section id="scroll-down" class="m-t-10vh">

    <div class="container-grid container-780 m-t-10vh">
        <div class="row no-gutters justify-content-between w-100">
            <div class="col-auto">
                <div class="w-306-640-780">
                    <p class="text-ditap-perex pb-5">Je mi tak dobře! Úplně nejvíc… „Viním“ za to krásné léto. Taky
                        sebe, že jsem
                        přestala pracovat jako
                        šílená. Taky Davídka, který si mě užívá, když spolu lítáme po hřišti, hrajeme fotbal a já ho
                        nechám,
                        ať si kamkoliv obleče spidermanský obleček nebo cokoliv se mu líbí.
                        A „viním“ za tu radost taky naše večeře o sedmé. Nebylo to tak vždycky.</p>
                    <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00006.jpg" alt=""/>
                    <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00005.jpg" alt=""/>
                    <p class="text-ditap-serif mt-4 mb-4">Nemůže to být dávno, když můj muž nad míchanými vajíčky k
                        večeři
                        řekl: „Hele, všichni mi tě závidějí,
                        že prej se mám, když mám tu Ditu P.“ Neodpověděla jsem na tu ironii ani větu. Tedy jen jednu:
                        „Zítra
                        v sedm u stolu.“</p>

                    <p class="text-ditap-serif mt-4 mb-5"> Náš svět se „zítra“ zastavil. A zastavuje se každý večer v
                        sedm.</p>
                    <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00014.jpg" alt=""/>
                    <p class="text-ditap-serif mt-4 mb-5">Za minutu sedm sundám zástěru, na stole je prostřeno, vždycky
                        hezky, na mém-našem Vyšívaném
                        porcelánu. V té chvíli slyším Marka skopávat boty z nohou v hale: “Co to tu voní“ a pozoruju
                        Davídka, jak se šikovně šplhá na svoji židličku. Vykládám vám tyhle obyčejné věci, které máte
                        zavedené nejspíš u vás doma taky. My jsme je měli jen někdy. Donedávna jedl Davídek kašičky, já
                        “něco z ledničky” a Marek, co zbylo z neděle nebo nějakou rychlovku. Každý jindy a sám u stolu.
                        Jeden rýpanec nad smaženými vajíčky mě probudil. Mám přece tenhle krásný rituál pod kůží
                        odjakživa!</p>
                    <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00005.jpg" alt=""/>
                    <p class="text-ditap-serif mt-4 mb-4">Nevím, jestli „od jak živa“, to si nepamatuju, ale už od tří
                        let
                        vím, že za pět minut půl páté jsme
                        s mámou a pak i s Marikou stály na zastávce autobusu 190 a přesně v půl na ní vystoupil táta.
                        Přijel
                        z práce. Na ramenu mu visela taková hnědá taška… šli jsme na kola, opékat buřty, sjíždět na
                        pekáči z
                        umělých kopců, co na Jižním Městě rostly z vyhloubených základů paneláků. A pak jsme šli
                        domů.</p>

                    <p class="text-ditap-serif mt-4 mb-4">Asi to nebylo v sedm, jako teď u nás, protože na Večerníček už
                        jsme
                        se dívaly s Marikou
                        v pyžamkách. Máma musela mít večeři už připravenou předem, i když to nebyly žádné složitosti:
                        francouzské brambory, lívanečky, bramboračka a tak. Pro mě ty společné večeře tehdy nebyly
                        kdovíco.
                        Seděla jsem vedle táty a řeči při jídle mě moc nebavily. Chtělo se nám s Marikou spíš řehtat,
                        pošťuchovat se pod stolem a vůbec… Až když jsem vyrostla a vzpomínám na tu dobu, vím, jaký měly
                        ty
                        naše rituální večeře smysl: dávaly nám všem čtyřem jistotu, jsme spolu u stolu teď
                        a zítra zase. Jsme doma. Je jedno, co se děje venku, protože máme večeři na talířích
                        s pomněnkami, na červeném prostírání, je tu teplo a legrace.</p>

                    <p class="text-ditap-serif mt-4 mb-4">Tak je to i u nás doma na Letné nebo na chalupě. Až teď.</p>

                    <p class="text-ditap-serif mt-4 mb-4">Sedíme spolu, Davídek si bude jako já celý život pamatovat, že
                        jedl
                        z talíře „s hodně kytičkama
                        modrýma“, že seděl v čele stolu a z jedné strany měl mámu a z druhé tátu. A já si užívám té naší
                        nové kotvy uprostřed světa až tak, že náš stůl tajně odtáhnu na kárce do polí, uvařím a prostřu
                        mezi
                        obilím. To jsem fakt udělala a pak - těsně před sedmou - jsem zavolala klukům: Poběžte, čekám na
                        vás
                        u křížku.</p>

                    <p class="text-ditap-serif mt-4 mb-5">Je mi tak dobře! Úplně nejvíc…</p>
                    <img class="img-fluid mb-12-20" src="DitaP/media/DitaP/images/780x520/promo_img_00008.jpg" alt=""/>
                    <img class="img-fluid mb-12-20" src="DitaP/media/DitaP/images/780x520/promo_img_00007.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
