<!-- Documentation of sticky component: https://getuikit.com/docs/sticky -->
<section class="m-t-10vh">
    <!-- Recipe -->
    <div class="container-fluid mb-5">
        <div class="row">
            <div id="recipe-3" class="recipe-img-wrapper col-md-12 col-lg-6 p-0 m-b-4vh position-relative">
                <div class="teaser-card-big sticky-top-0">
                    <!-- the kentico printing must be way: src="DitaP/DitaP/media/DitaP/images/recipes/teaser/your-img.jpg" -->
                    <img class="d-block img-recipe-teaser img-fluid" src="DitaP/media/DitaP/images/recipes/teaser/salat-s-jahodami.jpg" alt="Salát s jahodami"/>
                    <!-- Popover teaser ---------------------------------------------------------------------------- -->
                    <div class="vkpopup">
                        <!-- Popover button -->
                        <a href="#" class="nav-link icon-link btn-ditap-teaser-cart-big">
                            <span class="ditap-ico_cart_empty"></span>
                        </a>
                        <!-- Popover content -->
                        <div class="popover-intro d-none d-md-block">
                            <div>
                                <button type="button" class="close pt-2 pr-2" aria-label="Close">
                                    <span class="ditap-ico_close_mob fs-14" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="popover-body text-center">
                                <div>
                                    <img class="img60x60 ml-3 mb-2" src="DitaP/media/DitaP/images/img_dita_face.png"/>
                                </div>
                                <span class="text-ditap-quotation fs-15">Líbí se vám moje nádobí?<br/>Klikněte.</span>
                            </div>
                        </div>
                        <!-- Popover slider on click -->
                        <div class="slider-product-popover hide">
                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-detail-text recipe-print recipe-text col-md-12 col-lg-6 col-xl-5 col-640 mt-lg-5 mb-4vh">
                <p class="text-ditap-h8 pt-5 pb-md-2 not-print">recept</p>
                <h3 class="text-ditap-h3">Salát s jahodami a karamelizovanými ořechy</h3>
                <p class="text-ditap-serif pt-md-3">Čekala jsem, že moji kluci budou říkat: jé, co to je &ndash; jahody
                    a lupení. Řekli, ale mísu se salátem vyjedli do dna.</p>
                <p class="text-ditap-paragraph-2 pt-md-4 pb-md-4">4&ndash;6 porcí &bull; Příprava 20 min</p>
                <figure class="recipe-ingredients">
                    <span class="recipe-ingredients-headline text-ditap-default">Na karamelizované pekanové ořechy:</span>
                    <ul class="list-unstyled pb-md-4 text-ditap-recipe-ingredients pr-md-5">
                        <li>2 lžíce másla</li>
                        <li>110 g pekanových ořechů, můžou být i vlašské ořechy</li>
                        <li>2 lžíce tmavého cukru</li>
                        <li>malá špetka soli</li>
                    </ul>
                    <span class="recipe-ingredients-headline text-ditap-default">Na makový dresink:</span>
                    <ul class="list-unstyled pb-md-4 text-ditap-recipe-ingredients pr-md-5">
                        <li>60 ml olivového nebo avokádového oleje</li>
                        <li>3 lžíce jablečného octa</li>
                        <li>2 lžíce medu</li>
                        <li>1 lžíce makových semínek</li>
                        <li>1 malá lžička dijonské hořčice</li>
                        <li>sůl a čerstvě namletý pepř</li>
                    </ul>
                    <span class="recipe-ingredients-headline text-ditap-default">Na salát:</span>
                    <ul class="list-unstyled pb-md-4 text-ditap-recipe-ingredients pr-md-5">
                        <li>200 g baby špenátu nebo jakýchkoliv zelených salátů, skvělé je dát aspoň dvě hrsti rukoly</li>
                        <li>500 g zralých nejlépe právě utržených jahod, omytých</li>
                        <li>a nakrájených</li>
                        <li>1 zralé avokádo, nakrájené na tenké plátky nebo na malé kousky</li>
                        <li>1/2 červené cibule, nakrájené na velmi tenké plátky</li>
                        <li>110 g čerstvého kozího sýru</li>
                    </ul>
                </figure>
                <ol class="ol-num">
                    <li class="text-ditap-default pb-4">
                        Nejprve si připravím karamelizované pekanové ořechy. Na pánvi s těžkým dnem nechám na
                        středním plameni rozpustit máslo. Přidám pekanové ořechy a pořádně promíchám. Přisypu tmavý
                        cukr a špetku soli a míchám, až se cukr rozpustí a obalí pekanové ořechy. Nakonec je
                        rozprostřu na pečicí papír a nechám vychladnout.
                    </li>

                    <li class="text-ditap-default pb-4">
                        Mezitím si připravím dresink. Všechny přísady spolu pečlivě prošlehám a dám zatím stranou.
                    </li>

                    <li class="text-ditap-default pb-4">
                        Do velké mísy dám přísady na salát kromě kozího sýru, přiliju dresink a pečlivě promíchám.
                        Salát posypu kousky kozího sýru, karamelizovanými pekanovými ořechy a podávám.
                    </li>
                </ol>
                <div class="text-center pb-lg-6 d-print-none not-print">
                    <a href="#" class="btn btn-ditap-mini btn-ditap-print text-center d-inline">
                        <span class="ditap-ico_printer_grey mr-1 fs-15 text-ditap-label"></span>
                        <span class="text-ditap-label">Vytisknout recept</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-grid container-780 m-t-10vh">
        <div class="row no-gutters justify-content-between w-100">
            <div class="col-auto">
                <div class="w-306-640-780">
                    <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00013.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>