<!-- Documentation of sticky component: https://getuikit.com/docs/sticky -->
<section class="m-t-10vh">
    <!-- Recipe -->
    <div class="container-fluid mb-5">
        <div class="row">
            <div id="recipe-1" class="recipe-img-wrapper col-md-12 col-lg-6 p-0 m-b-4vh position-relative">
                <div class="teaser-card-big sticky-top-0">
                    <!-- the kentico printing must be way: src="DitaP/DitaP/media/DitaP/images/recipes/teaser/your-img.jpg" -->
                    <img class="d-block img-recipe-teaser img-fluid" src="DitaP/media/DitaP/images/recipes/teaser/bruschetty-s-rajcaty.jpg" alt="Bruschetty s rajčaty"/>
                    <!-- Popover teaser ---------------------------------------------------------------------------- -->
                    <div class="vkpopup">
                        <!-- Popover button -->
                        <a href="#" class="nav-link icon-link btn-ditap-teaser-cart-big">
                            <span class="ditap-ico_cart_empty"></span>
                        </a>
                        <!-- Popover content -->
                        <div class="popover-intro d-none d-md-block">
                            <div>
                                <button type="button" class="close pt-2 pr-2" aria-label="Close">
                                    <span class="ditap-ico_close_mob fs-14" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="popover-body text-center">
                                <div>
                                    <img class="img60x60 ml-3 mb-2" src="DitaP/media/DitaP/images/img_dita_face.png"/>
                                </div>
                                <span class="text-ditap-quotation fs-15">Líbí se vám moje nádobí?<br/>Klikněte.</span>
                            </div>
                        </div>
                        <!-- Popover slider on click -->
                        <div class="slider-product-popover hide">
                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recipe-detail-text recipe-print recipe-text col-md-12 col-lg-6 col-xl-5 col-640 mt-lg-5 mb-4vh">
                <p class="text-ditap-h8 pt-5 pb-md-2 not-print">recept</p>
                <h3 class="text-ditap-h3">Bruschetty s rajčaty</h3>
                <p class="text-ditap-serif pt-md-3">Ucítíte pravou Itálii, to vám slibuju. Tyhle krásné „chlebíčky“ bohatě postačí k letní večeři
                    třeba po lehké polévce.</p>
                <p class="text-ditap-paragraph-2 pt-md-4 pb-md-4">6&ndash;8 porcí &bull; Příprava 20 min</p>
                <figure class="recipe-ingredients">
                    <span class="recipe-ingredients-headline text-ditap-default"></span>
                    <ul class="list-unstyled pb-md-4 text-ditap-recipe-ingredients pr-md-5">
                        <li>světlý italský venkovský chléb, nakrájený na 2 cm plátky</li>
                        <li>extra panenský olivový olej</li>
                        <li>jemná mořská sůl</li>
                        <li>1 kg hodně zralých až přezrálých rajčat ze zahrady nebo farmářského trhu, které nikdy
                            nebyly v lednici
                        </li>
                    </ul>
                </figure>
                <ol class="ol-num">
                    <li class="text-ditap-default pb-4">Rozpálím gril v troubě. Chleby rozložím na plech a po obou stranách je lehce opeču.
                        Někdy je
                        opeču na grilovací pánvi, ale úplně nejlepší je to na mřížce nad žhavým popelem.
                    </li>

                    <li class="text-ditap-default pb-4">
                        Hned, jak jsou opečené, poliju je tenkým pramínkem nejlepšího olivového oleje. Já mám
                        ráda
                        hodně štiplavý, co skoro pálí
                        v krku a voní jako čerstvě posekaná tráva. Pak chleby lehce posypu jemnou mořskou solí.
                    </li>

                    <li class="text-ditap-default pb-4">
                        Rajčata nechám dvě a více hodin prohřát na slunci. Nakrájím je na malé kousky a
                        navrstvím na
                        horké bruschetty, nebo je podávám vedle v malých mističkách. Každý si je pak podle chuti
                        osolí.
                    </li>
                </ol>
                <div class="text-center pb-lg-6 not-print">
                    <a href="#" class="btn btn-ditap-mini btn-ditap-print text-center d-inline">
                        <span class="ditap-ico_printer_grey mr-1 fs-15 text-ditap-label"></span>
                        <span class="text-ditap-label">Vytisknout recept</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-grid container-780 m-t-10vh">
        <div class="row no-gutters justify-content-between w-100">
            <div class="col-auto">
                <div class="w-306-640-780">
                    <img class="img-fluid mb-12-20" src="DitaP/media/DitaP/images/780x520/promo_img_00015.jpg" alt=""/>
                    <img class="img-fluid mb-12-20" src="DitaP/media/DitaP/images/780x520/promo_img_00002.jpg" alt=""/>
                    <img class="img-fluid mb-12-20" src="DitaP/media/DitaP/images/780x520/promo_img_00011.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>