<section>
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-ditap-h4 mb-lg-5">Co dneska uvaříme?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-4 col-md-3">
                <p class="text-ditap-h8 ">snídaně</p>
                <hr>
                <p><a href="">Sladké</a></p>
                <p><a href="">Slané</a></p>
                <p><a href="">Vejce</a></p>
                <p class="font-weight-bold"><a href="">Zdravé<span class="badge eshop-badge">TIP</span></a></p>
                <p><a href="">Pro děti</a></p>
                <p class="text-ditap-paragraph-2"><a href="">Všechny snídaně</a></p>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <p class="text-ditap-h8 ">Oběd</p>
                <hr>
                <p><a href="">Polévky</a></p>
                <p class="font-weight-bold"><a href="">Kuře<span class="badge eshop-badge">TIP</span></a></p>
                <p><a href="">Omáčky</a></p>
                <p><a href="">Bez masa</a></p>
                <p><a href="">Saláty</a></p>
                <p class="text-ditap-paragraph-2"><a href="">Všechny obědy</a></p>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <p class="text-ditap-h8 ">svačina</p>
                <hr>
                <p><a href="">Dezerty</a></p>
                <p><a href="">Pomazánky</a></p>
                <p class="font-weight-bold"><a href="">Domácí pečivo<span class="badge eshop-badge">TIP</span></a></p>
                <p><a href="">Ovoce a zelenina</a></p>
                <p><a href="">Pro děti</a></p>
                <p class="text-ditap-paragraph-2"><a href="">Všechny svačiny</a></p>
            </div>
            <div class="col-6 col-sm-4 col-md-3">
                <p class="text-ditap-h8 ">Oběd</p>
                <hr>
                <p><a href="">Rychlovky do půl hodiny</a></p>
                <p class="font-weight-bold"><a href="">Tapas<span class="badge eshop-badge">TIP</span></a></p>
                <p><a href="">Z jednoho hrnce</a></p>
                <p><a href="">Něco lehkého</a></p>
                <p><a href="">Pro děti</a></p>
                <p class="text-ditap-paragraph-2"><a href="">Všechny večeře</a></p>
            </div>
        </div>
    </div>
</section>