


<style>
    .ml-30px {
        margin-left: 30px;
    }

    /*mobile*/
    /*grid-296*/
    @media screen and (max-width: 374px) {
        #footerAllAboutBuying > .flex-column {
            max-width: 296px;
            padding-left: 24px;
            padding-right: 24px;
        }

        #footerNavShoppingContacts {
            max-width: 296px;
            padding-left: 24px;
            padding-right: 24px;
        }

            }

    @media screen and (max-width: 767px) {
        .border-bottom-sm-max {
            border-bottom: 1px solid #dee2e6;
        }

        footer .container-grid {
            max-width: 100%;
        }

        .pt-sm-25 {
            padding-top: 25px !important;
        }
    }

    /*grid-336*/
    @media screen and (min-width: 375px) {
        #footerAllAboutBuying > .flex-column {
            max-width: 375px;
            padding-left: 34px;
            padding-right: 34px;
        }

        #footerNavShoppingContacts {
            max-width: 375px;
            padding-left: 34px;
            padding-right: 34px;
        }


    }

    /*grid-460*/
    @media screen and (min-width: 484px) {
        #footerAllAboutBuying > .flex-column {
            max-width: 460px;
            padding-left: 34px;
            padding-right: 34px;
        }

        #footerAllAboutBuying > .flex-column:nth-child(2) {
            margin-top: 42px;
        }


    }

    /*tablet*/
    /*grid-700*/
    @media screen and (min-width: 767px) {
        .footer-user {
            padding-top: 55px !important;
        }

        #footerNavShoppingContacts {
            max-width: 350px;
            padding-left: 50px;
            padding-right: 50px;
        }

        #footerAllAboutBuying > .flex-column {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }

        #footerAllAboutBuying {
            max-width: 350px;
            padding-left: 50px;
            padding-right: 50px;
        }

        #footerAllAboutBuying > .flex-column:nth-child(2) {
            margin-top: 0;
        }



    }

    /*desktop*/
    /*grid-940*/
    @media screen and (min-width: 992px) {
        .footer-user {
            padding-top: 85px !important;
        }

        #footerNavShoppingContacts {
            max-width: 470px;
            padding-left: 50px;
            padding-right: 50px;
        }

        #footerAllAboutBuying {
            max-width: 470px;
            padding-left: 50px;
            padding-right: 50px;
        }

        #footerAllAboutBuying > .flex-column {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    /*grid-1180*/
    @media screen and (min-width: 1200px) {

        #footerNavShoppingContacts {
            max-width: 590px;
            padding-left: 30px;
            padding-right: 50px;
        }

        #footerAllAboutBuying {
            max-width: none;
            padding-left: 30px;
            padding-right: 30px;
        }

        #footerAllAboutBuying > .flex-column {
            max-width: 295px;
            padding-left: 60px;
            padding-right: 60px;
        }

        #footerAllAboutBuying > .flex-column:nth-child(2) {
            margin-top: 44px;
            padding-left: 60px;
            padding-right: 60px;
        }

    }
</style>
<style>

    .ml-30px {
        margin-left: 30px;
    }

    /*footer .nav-footer-collapsed:after {*/
        /*all: unset;*/
    /*}*/

    /*footer .nav-footer-collapsed .navbar-toggler:after {*/
        /*font-family: 'ditap-icons', sans-serif;*/
        /*font-size: 10px;*/
        /*content: '\eab6';*/
        /*position: absolute;*/
        /*display: flex;*/
        /*align-self: start;*/
        /*right: 33px;*/
        /*top: 30px;*/
        /*pointer-events: none;*/
        /*font-weight: 400;*/
    /*}*/

    /*footer .nav-footer-collapsed .navbar-toggler[aria-expanded="true"]:after {*/
        /*transform: rotate(-180deg);*/
        /*margin-top: -4px;*/
        /*margin-right: 2px;*/
    /*}*/

    /*footer .container-grid {*/
        /*max-width: 100%;*/
    /*}*/

    /*footer #footerMain a {*/
        /*white-space: normal;*/
    /*}*/

    footer .footer-bottom {
        padding-top: 8px;
        padding-left: 22px;
    }

    footer .lang-select {
        margin: auto;
    }

    footer .grid-block-3 {
        width: 100%;
        padding: 0;
        margin: 0 !important;
    }

    footer .nav-footer-collapsed > a {
        padding: 25px 35px;
    }

    footer .nav-footer-collapsed:after {
        right: 35px;
    }

    /*footer #footerNavShoppingContacts {*/
        /*padding-left: 20px;*/
    /*}*/

    footer #footerNavSocialMedia {
        padding-top: 8px;
    }

    footer .footer-social-media-box {
        padding-left: 35px;
        padding-bottom: 40px;
    }

    footer .copyright-ditap {
        padding: 10px 35px 34px 15px;
    }

    @media screen and (min-width: 767px) {

        .footer {
            padding-top: 48px;
        }

        /*#footerMain {*/
            /*padding-left: 40px;*/
            /*padding-right: 40px;*/
        /*}*/

        footer .grid-block-3 {
            width: 330px;
            padding-left: 0;
            padding-right: 0;
        }

        footer .footer-bottom {
            padding-top: 21px;
            padding-left: 40px;
            padding-bottom: 37px;
        }

        /*footer #footerNavShoppingContacts {*/
            /*padding-left: 0;*/
            /*padding-top: 35px;*/
        /*}*/

        footer #footerNavSocialMedia {
            padding-top: 35px;
        }

        footer .footer-social-media-box {
            padding-left: 15px;
            padding-bottom: 0;
        }

        footer .copyright-ditap {
            padding: 0 50px 0 0;
        }
    }

    @media screen and (min-width: 992px) {

        footer .grid-block-3 {
            width: 220px;
            padding-left: 15px;
        }

        footer .footer-bottom {
            padding-right: 30px;
            padding-bottom: 22px;
        }

        footer #footerNavShoppingContacts {
            padding-top: 0;
        }

        footer #footerNavSocialMedia {
            padding-top: 0;
        }
    }

    @media screen and (min-width: 1200px) {

        .footer {
            padding-top: 80px;
        }

        #footerMain {
            padding-left: 0;
            padding-right: 0;
        }

        footer .container-grid {
            max-width: 1180px;
        }

        footer .grid-block-3 {
            width: 280px;
            padding-left: 15px;
        }

        footer .footer-bottom {
            padding-left: 3px;
            padding-right: 30px;
            padding-top: 30px;
        }

        footer .copyright-ditap {
            padding-right: 0;
        }

    }
</style>
<section class=" footer-user bg-gray p-0">
    <div class="container-grid px-0 pt-0">
        <!-- Main footer -->
        <div id="footerMain" class="row no-gutters d-flex flex-column flex-md-row justify-content-between w-100">
            <div class="col-auto pt-sm-25">
                <div id="footerNavShoppingContacts" class="">
                    <div class="flex-column">
                        <a href="#contacts" class="nav-item nav-link text-ditap-h8 mb-2">Potřebujete poradit?</a>
                        <div class="footer-contact-box nav-item nav-link">
                            <span class="icon-ditap-phone-small"></span>
                            <span class="contact-phone">+420 702 936 576</span>
                            <p class="contact-business-hours text-ditap-label pl-4">Po&ndash;Pá: 9&ndash;14</p>
                            <span class="icon-small ditap-ico_mail_small"></span>
                            <span class="contact-phone">info@ditap.cz</span>
                        </div>
                        <a href="contact2.html#fc" class="nav-item nav-link text-small">Napište mi</a>
                        <a href="contact2.html" class="nav-item nav-link text-small">Všechny kontakty</a>
                    </div>
                </div>
            </div>
            <div class="border-bottom-sm-max"></div>
            <div class="col-auto pt-sm-25">
                <div id="footerAllAboutBuying" class="d-flex flex-wrap justify-content-between">
                    <div class="flex-column">
                        <a href="shopping-guide2.html" class="nav-item nav-link text-ditap-h8 mb-2">Vše o nákupu</a>

                        <a href="shopping-guide2.html#bh1" class="nav-item nav-link text-small">Stav
                            objednávky</a>
                        <a href="shopping-guide2.html#bh1" class="nav-item nav-link text-small">Změna
                            objednávky</a>
                        <a href="#" class="nav-item nav-link text-small">Možnosti dopravy a platby</a>
                    </div>
                    <div class="flex-column">
                        <a href="shopping-guide2.html#dh4" class="nav-item nav-link text-small">Jak správně
                            převzít
                            zboží od dopravce</a>
                        <a href="shopping-guide2.html#eh1" class="nav-item nav-link text-small">Jak
                            reklamovat
                            poškozené zboží</a>
                        <a href="#" class="nav-item nav-link text-small">Obchodní podmínky</a>
                    </div>
                </div>
            </div>
        </div>


    <!-- Footer bottom part -->
    <div class="footer footer-bottom row no-gutters d-flex flex-column flex-md-row justify-content-between w-100 align-items-md-center">
        <div class="col-auto">
            <!-- Language selector -->
            <div class="grid-block-3 lang-select d-none">
                <label class="mb-0">
                    <select class="selectpicker border-0" name="language-selector" data-show-subtext="true" data-width="233">
                        <option value="cs" data-icon="ditap-ico_flag_cz" data-subtext="CZK" selected>Česká Republika</option>
                        <option value="sk" data-icon="ditap-ico_flag_sk" data-subtext="EUR">Slovenská Republika</option>
                        <option value="de" data-icon="ditap-ico_flag_de" data-subtext="EUR">Německo</option>
                    </select>
                    <span class="select-icon"></span>
                </label>
            </div>
        </div>
        <div class="col-auto">
            <!-- Copyright -->
            <div class="copyright-ditap position-relative d-inline-flex justify-content-between w-100">
                <span class="text-ditap-label">Zásady ochrany soukromí</span>
                <span class="text-ditap-label ml-30px">&copy; 2018 Dita P.</span>
            </div>
        </div>
    </div>
    </div>
</section>