<!-- Grid section with tiles ( product category porcelain ) -->
<section class="bg-grey">
    <div class="container-grid">
        <div class="row masonry-grid justify-content-start no-gutters w-100">
            <!-- 1 medium card - and 4 small cards - 1 medium card -->
            <div class="col-auto">
                <!-- Medium image card -->
                <a href="#" class="tile medium-card image-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x440/eshop1_580x440.jpg" alt="">
                    <div class="medium-card-text-box text-left position-absolute">
                        <p class="text-ditap-h8 color-red">Top</p>
                        <h3 class="text-ditap-h5">Sváteční sady<br/>zlato a platina</h3>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Tip card -->
                <div class="tile small-card tip-card d-block">
                    <img class="img-ditap-face-responsive mb-3" src="DitaP/media/DitaP/images/img_dita_face.png" alt="Dita P."/>
                    <div class="text-center">
                        <p class="text-ditap-h8 mb-2 mt-xl-2 mb-xl-3 px-md-2 px-xl-3">Chystáte se na svatbu?</p>
                        <p class="text-ditap-quotation">
                            Vybrat správný dárek je vždycky oříšek. Proto jsem pro vás vybrala ty nejlepší,
                            se kterými se prostě nemůžete netrefit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <!-- Small product card with slider -->
                <div class="tile small-card product-card product-card-slider">
                    <a href="#" class="slide-tile d-block">
                        <p class="product-pattern d-inline-block">
                            <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                            <span class="pattern-amount text-ditap-paragraph-2">4</span>
                        </p>
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
                        <div class="small-card-text-box text-center">
                            <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                            <hr/>
                            <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
                        </div>
                    </a>

                    <a href="#" class="slide-tile d-block">
                        <p class="product-pattern d-inline-block">
                            <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                            <span class="pattern-amount text-ditap-paragraph-2">4</span>
                        </p>
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
                        <div class="small-card-text-box text-center">
                            <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                            <hr/>
                            <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
                        </div>
                    </a>

                    <a href="#" class="slide-tile d-block">
                        <p class="product-pattern d-inline-block">
                            <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                            <span class="pattern-amount text-ditap-paragraph-2">4</span>
                        </p>
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
                        <div class="small-card-text-box text-center">
                            <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                            <hr/>
                            <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
                        </div>
                    </a>

                    <a href="#" class="slide-tile d-block">
                        <p class="product-pattern d-inline-block">
                            <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                            <span class="pattern-amount text-ditap-paragraph-2">4</span>
                        </p>
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
                        <div class="small-card-text-box text-center">
                            <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                            <hr/>
                            <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-auto">
                <!-- Medium product card -->
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada<br/>Jen dva hrnečky</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>