<div class="modal fade bd-example-modal-lg" id="modalSet">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
        <div class="modal-content border-0 rounded-0 shadow">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="fs-15 ditap-ico_close_mob" aria-hidden="true"></span>
            </button>
            <div class="modal-body p-0">
                <p class="text-ditap-h4 text-center mt-4 mt-sm-5">V sadě najdete</p>
                <div class="categories pb-lg-5 d-flex flex-wrap justify-content-center w-100">
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Cajova_konvice_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Čajová konvice
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                1x <span class="text-ditap-label pl-1">1200 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Cukrenka_velka_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Cukřenka velká
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                1x <span class="text-ditap-label pl-1">350 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Mlekovka_mak.png" alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Mlékovka
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                1x <span class="text-ditap-label pl-1">120 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Kalisek_na_vejce_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Kalíšek na vejce
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x
                            </figcaption>
                        </figure>
                    </a>

                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Musli_miska_mak.png" alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Müsli miska
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">16 cm</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Dezertni_talir_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Dezertní talíř
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">19 cm</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Snidanovy_salek_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Snídaňový šálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">400 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Snidanovy_podsalek_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Snídaňový podšálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x<span class="text-ditap-label pl-1">19,5 cm</span></figcaption>
                        </figure>
                    </a>

                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Nizky_salek_mak.png" alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Nízká šálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">150 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Nizky_podsalek_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Nízký podšálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">14 cm</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Espresso_salek_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Expresso šálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x <span class="text-ditap-label pl-1">75 ml</span></figcaption>
                        </figure>
                    </a>
                    <a class="category-item" href="#">
                        <div class="category-item-overlay"></div>
                        <figure class="product-img-modal">
                            <img class="figure-img img-fluid"
                                 src="DitaP/media/DitaP/images/products/porcelain/Espresso_podsalek_mak.png"
                                 alt=""/>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-3-serif">
                                Expresso podšálek
                            </figcaption>
                            <figcaption
                                    class="figure-caption position-relative text-center text-ditap-paragraph-2">
                                4x<span class="text-ditap-label pl-1">12 cm</span></figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>