<!--Modal Newsletter Steps-->
<div class="modal multi-step fade2 variant-2 needs-form-validation" id="modalNewsletter" data-reset-on-close="true">
    <div class="modal-dialog newsletter-dialog modal-dialog-centered modal-lg modal-xl">
        <div class="modal-content border-0 rounded-0 shadow">

            <button type="button" class="close pt-2 pr-2" data-dismiss="modal" aria-label="Close">
                <span class="ditap-ico_close_mob" aria-hidden="true"></span>
            </button>
            <!--BODY STEP 1-->
            <div class="modal-body p-0 step-1" data-step="1">
                <div class="container-grid">
                    <div class="row no-gutters justify-content-between w-100">
                        <div class="col-auto">
                            <div class="newsletter-text">
                                <h3 class="text-ditap-h5 mb-4">Ať Vám nic neuteče</h3>
                                <p class="text-ditap-quotation mb-4">
                                    V mém eshopu se pořád něco děje. Stačí si objednat novinky a já vám je ráda budu
                                    posílat mailem.
                                </p>
                                <ul class="list-unstyled bullet-list text-left mb-4">
                                    <li class="mb-2">
                                    <span class="ditap-ico_ok_green fs-14 mr-2">
                                        <span class="path1"></span><span class="path2"></span>
                                    </span>
                                        <span class="text-ditap-paragraph-2"> Informace o slevách, receptech a nových produktech</span>
                                    </li>
                                    <li class="mb-2">
                                    <span class="ditap-ico_ok_green fs-14 mr-2">
                                        <span class="path1"></span><span class="path2"></span>
                                    </span>
                                        <span class="text-ditap-paragraph-2"> Vždy budete vědět všechno podstatné jako první</span>
                                    </li>
                                    <li>
                                <span class="ditap-ico_ok_green fs-14 mr-2">
                                    <span class="path1"></span><span class="path2"></span>
                                    </span>
                                        <span class="text-ditap-paragraph-2"> Získáte tajné recepty z mého Deníku</span>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control variant-2 input-ditap-lg mb-3"
                                           placeholder="Váš e-mail" required/>
                                    <div class="text-left invalid-feedback">
                                        Chybová hláška
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="submit"
                                           class="btn-modal-next-step btn btn-ditap btn-ditap-large btn-ditap-blue mt-1 step step-1"
                                           name="newsletter-abo" value="Odeslat" data-step="1" data-next-step="2"
                                           data-modal="#modalNewsletter"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto p-0 d-none d-lg-block o-h">
                            <div class="newsletter-img">
                                <img src="DitaP/media/DitaP/images/500x510-newsletter.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--BODY STEP 2-->
            <div class="modal-body p-0 step-2" data-step="2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6 p-5">
                            <h3 class="text-ditap-h5 mb-4">Tak a je to!</h3>
                            <p class="text-ditap-quotation mb-4">E-mail jsem si poznačila a nikomu<br/>cizímu ho nedám.
                            </p>
                            <ul class="list-unstyled  bullet-list text-left mb-4 pt-5">
                                <li>
                                    <p>
                                        <a href="#" class="text-ditap-btn-secondary">Mrkněte na můj Deník</a>
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <a href="#" class="text-ditap-btn-secondary">Vyberte si něco hezkého z
                                            e-shopu</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-lg-6 p-0 d-none d-lg-block o-h">
                            <img src="DitaP/media/DitaP/images/500x510-newsletter.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>