<div class="modal fade2" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content pt-0 pt-lg-3">
            <div class="modal-header">
                <div class="search-input input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="ditap-ico_search"></span>
                        </div>
                    </div>
                    <input type="text" name="searchInput" class="form-control" id="ditapSearchInput" placeholder="Hledat" autofocus>
                </div>
                <input type="button" class="btn btn-ditap-mini text-ditap-btn-mini" value="Nové hledání"/>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="fs-14 ditap-ico_close_mob" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="search-intro pt-3 pb-3">
                    <span class="text-ditap-tip">Vybrala jsem pár tipů, které teď nejvíc frčí</span>
                </div>
                <ul class="search-tips-ditap">
                    <li>
                        <a class="search-tips-item d-block" href="#">
                            <img class="img50x50" src="DitaP/media/DitaP/images/products/porcelain/Sada_kalisky_se_slankou.jpg" alt=""/>
                            <div class="d-inline-block align-top ml-2">
                                <span class="tip-ditap-category text-ditap-h8">Produkt</span>
                                <p class="text-ditap-paragraph-3-serif">Sada Snídaně</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="search-tips-item d-block" href="#">
                            <img class="img50x50" src="DitaP/media/DitaP/images/low-res/promo_27.png" alt=""/>
                            <div class="d-inline-block align-top ml-2">
                                <span class="tip-ditap-category text-ditap-h8">Recept</span>
                                <p class="text-ditap-paragraph-3-serif">Topinky s tuňákovou pomazánkou a vejcem</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="search-tips-item d-block" href="#">
                            <img class="img50x50" src="DitaP/media/DitaP/images/products/porcelain/Sada_snidane_mak.jpg" alt=""/>
                            <div class="d-inline-block align-top ml-2">
                                <span class="tip-ditap-category text-ditap-h8">Kategorie</span>
                                <p class="text-ditap-paragraph-3-serif">Porcelán</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="search-tips-item d-block" href="#">
                            <img class="img50x50" src="DitaP/media/DitaP/images/promo/promo_21.jpg" alt=""/>
                            <div class="d-inline-block align-top ml-2">
                                <span class="tip-ditap-category text-ditap-h8">Deník</span>
                                <p class="text-ditap-paragraph-3-serif">Moje čokoládové narozeniny. V růžové!</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer justify-content-start">
                <a href="search2.html" class="pl-0 nav-link text-ditap-btn-secondary">
                    Zobrazit všechny výsledky
                    <span class="badge badge-pill badge-pill-ditap-blue ml-2">25</span>
                </a>
            </div>
        </div>
    </div>
</div>