<!--Modal Newsletter Steps-->
<div class="modal multi-step fade2" id="modalNewsletterSteps">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-xl">
        <div class="modal-content border-0 rounded-0 shadow">

            <button type="button" class="close pt-2 pr-2" data-dismiss="modal" aria-label="Close">
                <span class="ditap-ico_close_mob" aria-hidden="true"></span>
            </button>

            <!--BODY STEP 1-->
            <div class="modal-body p-0 step-1" data-step="1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 p-5">
                            <h3 class="mb-4">Ať Vám nic neuteče</h3>
                            <p class="quotation mb-4 fw-500">V mém eshopu se pořád něco děje. Stačí si objednat novinky
                                a já
                                vám je ráda budu posílat mailem.</p>
                            <ul class="list-unstyled bullet-list text-left fw-600 mb-4">
                                <li class="mb-2">
                                <span class="ditap-ico_ok_green fs-14 mr-2">
                                    <span class="path1"></span><span class="path2"></span>
                                    </span>
                                    <span class="fs-14"> Informace o slevách, receptech a nových produktech</span>
                                </li>
                                <li class="mb-2">
                                <span class="ditap-ico_ok_green fs-14 mr-2">
                                    <span class="path1"></span><span class="path2"></span>
                                    </span>
                                    <span class="fs-14"> Vždy budete vědět všechno podstatné jako první</span>
                                </li>
                                <li>
                                <span class="ditap-ico_ok_green fs-14 mr-2">
                                    <span class="path1"></span><span class="path2"></span>
                                    </span>
                                    <span class="fs-14"> Získáte tajné recepty z mého Deníku</span>
                                </li>
                            </ul>
                            <div class="form-group">
                                <input type="email" class="form-control input-ditap-lg mb-3" placeholder="Váš e-mail">
                            </div>
                            <input type="button" class="btn-ditap btn-ditap-lg btn-ditap-blue mt-2 step step-1"
                                   data-step="1"
                                   onclick="sendEvent('#modalNewsletterSteps', 2)" value="Odeslat"/>

                        </div>
                        <div class="col-md-12 col-lg-6 p-0 d-none d-lg-block o-h">
                            <img src="DitaP/media/DitaP/images/500x510-newsletter.jpg" alt=""/>
                        </div>

                    </div>
                </div>
            </div>
            <!--BODY STEP 2-->
            <div class="modal-body p-0 step-2" data-step="2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 p-5">
                            <h3 class="mb-4">Tak a je to!</h3>
                            <p class="quotation mb-4 fw-500">E-mail jsem si poznačila a nikomu cizímu ho nedám.</p>
                            <ul class="list-unstyled  bullet-list text-left fw-600 mb-4">
                                <li>
                                    <span class="paragraph-serif font-weight-bold">Mrkněte na můj Deník</span>
                                </li>
                                <li>
                                    <span class="paragraph-serif font-weight-bold">Vyberte si něco hezkého z e-shopu</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12 col-lg-6 p-0 d-none d-lg-block o-h">
                            <img src="DitaP/media/DitaP/images/500x510-newsletter.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>