<div id="popover-ditap-2" class="hide" role="tooltip" rel="popover">
    <!-- Popover intro -->
    <div class="popover-intro">
        <div>
            <button type="button" class="close pt-2 pr-2" aria-label="Close">
                <span class="ditap-ico_close_mob fs-14" aria-hidden="true"></span>
            </button>
        </div>
        <div class="popover-body text-center">
            <div>
                <img class="img60x60 ml-3 mb-2" src="DitaP/media/DitaP/images/img_dita_face.png"/>
            </div>
            <span class="text-ditap-quotation fs-15">Líbí se vám moje nádobí?<br/>Klikněte.</span>
        </div>
    </div>
    <!-- Popover slider -->
    <div class="slider-product-popover hide">
        <div class="card-wrapper-small">
            <div href="#" class="card small-card p-0 d-block">
                <div class="small-card-img-box">
                    <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                </div>
                <div class="small-card-text-box text-center">
                    <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                </div>
            </div>
        </div>

        <div class="card-wrapper-small">
            <div href="#" class="card small-card p-0 d-block">
                <div class="small-card-img-box">
                    <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                </div>
                <div class="small-card-text-box text-center">
                    <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                </div>
            </div>
        </div>

        <div class="card-wrapper-small">
            <div href="#" class="card small-card p-0 d-block">
                <div class="small-card-img-box">
                    <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                </div>
                <div class="small-card-text-box text-center">
                    <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                </div>
            </div>
        </div>
    </div>
</div>