<section class="m-t-10vh">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-12 col-lg-6">img</div>
            <div class="col-md-12 col-lg-6">
                <p class="headline-sm">recept</p>
                <h3>Vejce v rajčatové omáčce s fazolemi</h3>
                <p>Jen pomyšlení na fazole, natož v rajčatové omáčce mě přivádí k extázi. A pak je vařím, zdobím
                    petrželí a připadám si jako Michelangelo, když maloval už-už dotyk rukou
                    v Sixtinské kapli. A pak se do fazolí zakousnu… jsou neuvěřitelné!</p>
                <p class="price-sm mt-3">
                    <img class="mr-2" src="DitaP/media/DitaP/images/ico_ct_big.svg" alt="cttv"/>
                    Znáte z TV</p>
                <p>8 porcí . Příprava 50-55 min . Bez lepku</p>
                <ul class="list-unstyled">
                    <li class="recipe-ingredients">2 lžíce olivového oleje</li>
                    <li class="recipe-ingredients">1 velká cibule, nakrájená na tenké plátky</li>
                    <li class="recipe-ingredients">3 stroužky česneku, nakrájené na tenké plátky</li>
                    <li class="recipe-ingredients">170g pancetty nebo slaniny, nakrájené na kostky</li>
                    <li class="recipe-ingredients">1 červená chilli paprička, nakrájená na tenké plátky</li>
                    <li class="recipe-ingredients">2 lžičky uzené papriky</li>
                    <li class="recipe-ingredients">lístky ze 4 snítek čerstvého oregana + na ozdobu</li>
                    <li class="recipe-ingredients">2x 400g konzerva cherry rajčat</li>
                    <li class="recipe-ingredients">sůl a čerstvě mletý pepř</li>
                    <li class="recipe-ingredients">400g konzerva fazolí borlotti nebo cannellini, scezených</li>
                    <li class="recipe-ingredients">a opláchnutých</li>
                    <li class="recipe-ingredients">4 vejce</li>
                    <li class="recipe-ingredients">120g feta sýra</li>
                </ul>
                <ol class="ol-num">
                    <li>V hluboké pánvi nebo širším kastrolu rozehřeju olej a osmahnu na něm cibuli doměkka.
                        Přidám
                        česnek a opékám další minutu.
                    </li>
                    <li>V další pánvičce si mezitím opeču pancettu nebo slaninu dozlatova a křupava. Pancettu
                        přidám
                        k cibuli a česneku, přisypu chilli papričku, uzenou papriku, krátce osmahnu, aby se
                        rozvoněla, přidám lístky oregana, cherry rajčata, osolím, opepřím a promíchám. Mírně
                        vařím
                        20 minut.
                    </li>
                    <li>Přidám fazole a vařím dalších 10 minut. Případně dosolím.</li>
                    <li>Stáhnu plamen, rozklepnu do pánve vejce, zakryju poklicí
                        a dusím 10–12 minut, až jsou vejce hotová na hniličku. Stáhnu
                        z plotny, posypu rozdrobeným sýrem feta a jím s indiánským chlebem.
                    </li>
                </ol>

                <div class="row mt-5">
                    <div class="col-3 pr-0">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/img_dita_face.png">
                    </div>
                    <div class="col-9 pl-1 pl-sm-2 pt-1 pt-sm-2">
                                <span class="quotation">A pak tu mám ještě jeden tip, tajnej, to je jasný!
                        Vejce budou měkčí, když je před vařením pohladíte utěrkou.</span>
                    </div>
                </div>

                <div class="text-center mt-5">
                    <a href="#" class="btn-ditap-print label-ditap">
                        <span class="ditap-ico_printer_grey mr-2 fs-17"></span> vytisknout recept
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>