<section class="redirect-diary-card mb-7-10-12">
    <div class="container-grid">
        <div class="row no-gutters banner-zoom image-zoom-fast">
            <div class="col-12">
                <a href="#" class="img-banner-ditap d-block card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-start align-items-start align-items-sm-center w-100 h-100">
                        <div class="pl-3 pt-5 pl-sm-5 pt-sm-0">
                            <div class="card-panel-caption mt-3">
                                <p class="text-ditap-h8 text-color-dynamic">5 receptů</p>
                                <h2 class="carousel-headline text-ditap-h2 text-color-dynamic">Vejce, kalíšky<br> a já</h2>
                            </div>
                        </div>
                    </div>
                    <img class="img-zoom img-fluid" src="DitaP/media/DitaP/images/1180x620/story04-1180x620.jpg" alt=""/>
                </a>
            </div>
        </div>
    </div>
</section>