<!--<div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2">-->

<!--<div class="row">-->
<!--<div class="col-11">-->
<!--<nav class="nav-footer-collapsed navbar navbar-expand-md p-0">-->

<!--<p id="item-b" class="navbar-toggler text-ditap-h4" data-toggle="collapse"-->
<!--data-target="#footerNavShoppingGuide2"-->
<!--aria-controls="footerNavShoppingGuide2" aria-expanded="false" aria-label="Toggle navigation">-->
<!--B-->
<!--</p>-->
<!--<div id="footerNavShoppingGuide2" class="collapse navbar-collapse">-->
<!--<div class="nav flex-column p-md-0">-->

<!--<div class="row">-->

<!--&lt;!&ndash;card&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-4 col-sm-6 col-6">-->
<!--<a href="#" class="card small-card btn p-0 d-block">-->
<!--<div class="small-card-img-box">-->
<!--<img class="img-fluid"-->
<!--src="DitaP/media/DitaP/images/280x280/bazalkove-pesto.jpg"-->
<!--alt="">-->
<!--</div>-->
<!--<div class="small-card-text-box text-left">-->
<!--<p class="paragraph-serif pl-1 pl-lg-3">Bazalkové pesto</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--&lt;!&ndash;card&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-4 col-sm-6 col-6">-->
<!--<a href="#" class="card small-card btn p-0 d-block">-->
<!--<div class="small-card-img-box">-->
<!--<img class="img-fluid"-->
<!--src="DitaP/media/DitaP/images/280x280/bramboracka.jpg"-->
<!--alt="">-->
<!--</div>-->
<!--<div class="small-card-text-box text-left">-->
<!--<p class="paragraph-serif pl-1 pl-lg-3">Bramboračka</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</nav>-->
<!--</div>-->

<!--<div class="col-11">-->
<!--<nav class="nav-footer-collapsed navbar navbar-expand-md p-0">-->

<!--<p id="item-3" class="navbar-toggler text-ditap-h4" data-toggle="collapse"-->
<!--data-target="#footerNavShoppingGuide3"-->
<!--aria-controls="footerNavShoppingGuide3" aria-expanded="false" aria-label="Toggle navigation">-->
<!--3-->
<!--</p>-->
<!--<div id="footerNavShoppingGuide3" class="collapse navbar-collapse">-->
<!--<div class="nav flex-column p-md-0">-->

<!--<div class="row">-->

<!--&lt;!&ndash;card&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-4 col-sm-6 col-6">-->
<!--<a href="#" class="card small-card btn p-0 d-block">-->
<!--<div class="small-card-img-box">-->
<!--<img class="img-fluid"-->
<!--src="DitaP/media/DitaP/images/280x280/bazalkove-pesto.jpg"-->
<!--alt="">-->
<!--</div>-->
<!--<div class="small-card-text-box text-left">-->
<!--<p class="paragraph-serif pl-1 pl-lg-3">3Bazalkové pesto3</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--&lt;!&ndash;card&ndash;&gt;-->
<!--<div class="col-lg-4 col-md-4 col-sm-6 col-6">-->
<!--<a href="#" class="card small-card btn p-0 d-block">-->
<!--<div class="small-card-img-box">-->
<!--<img class="img-fluid"-->
<!--src="DitaP/media/DitaP/images/280x280/bramboracka.jpg"-->
<!--alt="">-->
<!--</div>-->
<!--<div class="small-card-text-box text-left">-->
<!--<p class="paragraph-serif pl-1 pl-lg-3">3Bramboračka3</p>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</nav>-->
<!--</div>-->

<!--<div class="col-1">-->
<!--<div class="position-sticky-support sticky-top">-->
<!--<nav id="navbar-example3" class="navbar navbar-light bg-light flex-column ">-->
<!--<nav class="nav  flex-column">-->
<!--<a class="text-ditap-label" href="#item-b">B</a>-->
<!--<a class="text-ditap-label" href="#item-c">C</a>-->
<!--<a class="text-ditap-label" href="#item-c2">Č</a>-->
<!--<a class="text-ditap-label" href="#item-d">D</a>-->
<!--<a class="text-ditap-label" href="#item-f">F</a>-->
<!--<a class="text-ditap-label" href="#item-g">G</a>-->
<!--<a class="text-ditap-label" href="#item-h">H</a>-->
<!--<a class="text-ditap-label" href="#item-i">I</a>-->
<!--<a class="text-ditap-label" href="#item-j">J</a>-->
<!--<a class="text-ditap-label" href="#item-k">K</a>-->
<!--<a class="text-ditap-label" href="#item-l">L</a>-->
<!--<a class="text-ditap-label" href="#item-m">M</a>-->
<!--<a class="text-ditap-label" href="#item-n">N</a>-->
<!--<a class="text-ditap-label" href="#item-o">O</a>-->
<!--<a class="text-ditap-label" href="#item-p">P</a>-->
<!--<a class="text-ditap-label" href="#item-r">R</a>-->
<!--<a class="text-ditap-label" href="#item-r2">Ř</a>-->
<!--<a class="text-ditap-label" href="#item-s">S</a>-->
<!--<a class="text-ditap-label" href="#item-t">T</a>-->
<!--<a class="text-ditap-label" href="#item-u">U</a>-->
<!--<a class="text-ditap-label" href="#item-v">V</a>-->
<!--</nav>-->
<!--</nav>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->


<div class="row">
    <div class="col-10">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0" class="scrollspy-example-2">
            <div class="row">
                <div class="col-1">
                    <h4 class="text-ditap-h4" id="item-b">B</h4>
                </div>
                <div class="col-11">
                    <div class="row">

                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/bazalkove-pesto.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Bazalkové pesto</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/bramboracka.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Bramboračka</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/bramboraky.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Bramboráky</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/bruschetty.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Bruschetty s rajčaty</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-c">C</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/cibulova-marmelada.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Cibulová marmeláda</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/vyprostovaky.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Citronáda</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-c2">Č</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/coko-zmrzlina.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Čokoládová zmrzlina</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/coko-babovicky.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Čokoládové bábovičky</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/coko-palacinky.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-left">
                                    <p class="text-ditap-serif m-0">Čokoládové palačinky s vanilkovou šlehačkou</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/coko-pusinky.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Čokoládové pusinky s čokoládou</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h4 class="text-ditap-h4" id="item-d">D</h4>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/dort-mississippi.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Dort Mississippi</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280//recept-3-280x280.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Dušené vepřové nadivoko</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/jidla-pro-dusi.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Dýňový cheesecake</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h4 class="text-ditap-h4" id="item-f">F</h4>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/panelstory.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Francouzské brambory</p>
                                </div>
                            </a>
                        </div>
                        <!--card-->
                        <div class="card-wrapper-small col-6 col-sm-6 col-md-6 col-lg-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                            <a href="#" class="card small-card p-0 d-block">
                                <div class="small-card-img-box">
                                    <img src="DitaP/media/DitaP/images/280x280/frittata.jpg" alt="">
                                </div>
                                <div class="mini-size-text-box text-center">
                                    <p class="text-ditap-serif m-0">Frittate</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-g">G</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-h">H</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-i">I</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-j">J</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-k">K</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-l">L</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-m">M</h5>
                </div>
                <div class="col-10">

                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-n">N</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-o">O</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-p">P</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-r">R</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-r2">Ř</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-s">S</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-t">T</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-u">U</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 class="text-ditap-h4" id="item-v">V</h5>
                </div>
                <div class="col-11">
                    <div class="row">
                        <!--card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="position-sticky-support sticky-top">
            <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column">
                <nav class="nav flex-column">
                    <a class="text-ditap-label" href="#item-b">B</a>
                    <a class="text-ditap-label" href="#item-c">C</a>
                    <a class="text-ditap-label" href="#item-c2">Č</a>
                    <a class="text-ditap-label" href="#item-d">D</a>
                    <a class="text-ditap-label" href="#item-f">F</a>
                    <a class="text-ditap-label" href="#item-g">G</a>
                    <a class="text-ditap-label" href="#item-h">H</a>
                    <a class="text-ditap-label" href="#item-i">I</a>
                    <a class="text-ditap-label" href="#item-j">J</a>
                    <a class="text-ditap-label" href="#item-k">K</a>
                    <a class="text-ditap-label" href="#item-l">L</a>
                    <a class="text-ditap-label" href="#item-m">M</a>
                    <a class="text-ditap-label" href="#item-n">N</a>
                    <a class="text-ditap-label" href="#item-o">O</a>
                    <a class="text-ditap-label" href="#item-p">P</a>
                    <a class="text-ditap-label" href="#item-r">R</a>
                    <a class="text-ditap-label" href="#item-r2">Ř</a>
                    <a class="text-ditap-label" href="#item-s">S</a>
                    <a class="text-ditap-label" href="#item-t">T</a>
                    <a class="text-ditap-label" href="#item-u">U</a>
                    <a class="text-ditap-label" href="#item-v">V</a>
                </nav>
            </nav>
        </div>
    </div>
</div>
