<div class="row">
    <div id="recipe-accordion" class="col-12 col-lg-10">
        <div id="item-b" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-b" aria-expanded="false" aria-controls="collapse-item-b">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">B</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-b" class="row collapse">
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/bazalkove-pesto.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Bazalkové pesto</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/bramboracka.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Bramboračka</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-0 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/bramboraky.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Bramboráky</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/bruschetty.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Bruschetty s rajčaty</p>
                            </div>
                        </a>
                    </div>
                    <!-- Spacer -->
                    <div class="d-block d-lg-none col-12 mb-5"></div>
                </div>
            </div>
        </div>
        <div id="item-c" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-c" aria-expanded="false" aria-controls="collapse-item-c">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">C</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-c" class="row collapse">
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/cibulova-marmelada.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Cibulová marmeláda</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/vyprostovaky.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Citronáda</p>
                            </div>
                        </a>
                    </div>
                    <!-- Spacer -->
                    <div class="d-block d-lg-none col-12 mb-5"></div>
                </div>
            </div>
        </div>
        <div id="item-c2" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-c2" aria-expanded="false" aria-controls="collapse-item-c2">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">Č</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-c2" class="row collapse">
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/coko-zmrzlina.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Čokoládová zmrzlina</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/coko-babovicky.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Čokoládové bábovičky</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-0 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/coko-palacinky.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Čokoládové palačinky s vanilkovou šlehačkou</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/coko-pusinky.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Čokoládové pusinky s čokoládou</p>
                            </div>
                        </a>
                    </div>
                    <!-- Spacer -->
                    <div class="d-block d-lg-none col-12 mb-5"></div>
                </div>
            </div>
        </div>
        <div id="item-d" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-d" aria-expanded="false" aria-controls="collapse-item-d">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">D</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-d" class="row collapse">
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/dort-mississippi.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Dort Mississippi</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280//recept-3-280x280.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Dušené vepřové nadivoko</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-0 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/jidla-pro-dusi.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Dýňový cheesecake</p>
                            </div>
                        </a>
                    </div>
                    <!-- Spacer -->
                    <div class="d-block d-lg-none col-12 mb-5"></div>
                </div>
            </div>
        </div>
        <div id="item-f" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-f" aria-expanded="false" aria-controls="collapse-item-f">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">F</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-f" class="row collapse">
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-0">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/panelstory.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Francouzské brambory</p>
                            </div>
                        </a>
                    </div>
                    <!--card-->
                    <div class="card-wrapper-small col-6 col-md-4 pl-2 pl-md-2 pr-4 pr-md-2 pr-lg-2 pl-lg-2">
                        <a href="#" class="card small-card p-0 d-block">
                            <div class="small-card-img-box">
                                <img src="DitaP/media/DitaP/images/280x280/frittata.jpg" alt="">
                            </div>
                            <div class="mini-size-text-box text-left">
                                <p class="text-ditap-serif m-0">Frittate</p>
                            </div>
                        </a>
                    </div>
                    <!-- Spacer -->
                    <div class="d-block d-lg-none col-12 mb-5"></div>
                </div>
            </div>
        </div>
        <div id="item-g" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-g" aria-expanded="false" aria-controls="collapse-item-g">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">G</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-g" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-h" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-h" aria-expanded="false" aria-controls="collapse-item-h">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">H</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-h" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-i" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-i" aria-expanded="false" aria-controls="collapse-item-i">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">I</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-i" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-j" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-j" aria-expanded="false" aria-controls="collapse-item-j">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">J</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-j" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-k" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-k" aria-expanded="false" aria-controls="collapse-item-k">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">K</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-k" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-l" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-l" aria-expanded="false" aria-controls="collapse-item-l">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">L</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-l" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-m" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-m" aria-expanded="false" aria-controls="collapse-item-m">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">M</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-m" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-n" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-n" aria-expanded="false" aria-controls="collapse-item-n">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">N</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-n" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-o" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-o" aria-expanded="false" aria-controls="collapse-item-o">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">O</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-o" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-p" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-p" aria-expanded="false" aria-controls="collapse-item-p">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">P</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-p" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-r" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-r" aria-expanded="false" aria-controls="collapse-item-r">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">R</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-r" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-r2" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-r2" aria-expanded="false" aria-controls="collapse-item-r2">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">Ř</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-r2" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-s" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-s" aria-expanded="false" aria-controls="collapse-item-s">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">S</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-s" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-t" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-t" aria-expanded="false" aria-controls="collapse-item-t">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">T</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-t" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-u" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block" data-toggle="collapse" data-target="#collapse-item-u" aria-expanded="false" aria-controls="collapse-item-u">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">U</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-u" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
        <div id="item-v" class="row">
            <div class="recipe-register-header col-12 col-lg-1 pl-2 pr-2">
                <a href="#" class="d-block last" data-toggle="collapse" data-target="#collapse-item-v" aria-expanded="false" aria-controls="collapse-item-v">
                    <h5 class="text-ditap-h4 mb-0 pl-3 pl-lg-0">V</h5>
                    <span class="badge badge-pill float-right d-lg-none">0</span>
                </a>
            </div>
            <div class="col-12 col-lg-11 pb-lg-5">
                <div id="collapse-item-v" class="row collapse">
                    <!-- card -->
                    <!-- Spacer -->
                </div>
            </div>
        </div>
    </div>
    <!-- Register -->
    <div class="col-lg-2 pt-2 d-none d-lg-block">
        <div class="recipe-register position-sticky-support sticky-top">
            <nav id="scrollspy-recipe-register" class="navbar navbar-light bg-light flex-column">
                <div class="nav flex-column">
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-b" data-offset="100" data-id="#item-b">B</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-c" data-offset="100" data-id="#item-c">C</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-c2" data-offset="100" data-id="#item-c2">Č</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-d" data-offset="100" data-id="#item-d">D</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-f" data-offset="100" data-id="#item-f">F</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-g" data-offset="100" data-id="#item-g">G</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-h" data-offset="100" data-id="#item-h">H</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-i" data-offset="100" data-id="#item-i">I</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-j" data-offset="100" data-id="#item-j">J</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-k" data-offset="100" data-id="#item-k">K</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-l" data-offset="100" data-id="#item-l">L</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-m" data-offset="100" data-id="#item-m">M</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-n" data-offset="100" data-id="#item-n">N</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-o" data-offset="100" data-id="#item-o">O</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-p" data-offset="100" data-id="#item-p">P</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-r" data-offset="100" data-id="#item-r">R</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-r2" data-offset="100" data-id="#item-r2">Ř</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-s" data-offset="100" data-id="#item-s">S</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-t" data-offset="100" data-id="#item-t">T</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-u" data-offset="100" data-id="#item-u">U</a>
                    <a class="nav-link arrow-scroll-down text-ditap-label" href="#item-v" data-offset="100" data-id="#item-v">V</a>
                </div>
            </nav>
        </div>
    </div>
</div>
