<section class="search-results">
    <div class="container container-920 pt-lg-3 pb-5">
        <ul class="search-results-list pl-2 pr-2">
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/Po_babicce.jpg" width="100" height="100" alt=""/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> na smetaně</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Porce <strong>králíka</strong> osolím a
                            naskládám do pekáče. V kastrůlku
                            rozehřeju máslo, přidám do něj grilovací koření a mletou papriku, chvilku smažím, aby se
                            paprika rozvoněla, a pak přimíchám obě hořčice
                        </p>
                    </div>
                </a>
            </li>
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/kralik_na_cesneku.jpg" width="100" height="100" alt=""/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> pečený na česneku se
                            špenátem a bramborovými knedlíky</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Troubu předehřeju na 160 °C.
                            <strong>Králíka</strong>
                            omyju, osuším a naporcuju. Každý díl
                            osolím, opepřím, potřu prolisovaným česnekem a obalím plátky slaniny
                        </p>
                    </div>
                </a>
            </li>
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/Po_babicce.jpg" width="100" height="100" alt=""/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> na smetaně</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Porce <strong>králíka</strong> osolím a
                            naskládám do pekáče. V kastrůlku
                            rozehřeju máslo, přidám do něj grilovací koření a mletou papriku, chvilku smažím, aby se
                            paprika rozvoněla, a pak přimíchám obě hořčice...
                        </p>
                    </div>
                </a>
            </li>
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/kralik_na_cesneku.jpg" width="100" height="100" alt=""/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> pečený na česneku se
                            špenátem a bramborovými knedlíky</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Troubu předehřeju na 160 °C. <strong>Králíka</strong>
                            omyju, osuším a naporcuju. Každý díl
                            osolím, opepřím, potřu prolisovaným česnekem a obalím plátky slaniny...
                        </p>
                    </div>
                </a>
            </li>
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/Po_babicce.jpg" width="100" height="100" alt=""/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> na smetaně</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Porce <strong>králíka</strong> osolím a
                            naskládám do pekáče. V kastrůlku
                            rozehřeju máslo, přidám do něj grilovací koření a mletou papriku, chvilku smažím, aby se
                            paprika rozvoněla, a pak přimíchám obě hořčice...
                        </p>
                    </div>
                </a>
            </li>
            <li class="card border-0">
                <a class="search-tips-item w-100 d-block border-top border-bottom p-3 p-lg-4 pb-lg-5 d-flex align-self-center"
                   href="#">
                    <img src="DitaP/media/DitaP/images/recipes/kralik_na_cesneku.jpg" alt="" width="100" height="100"/>
                    <div class="d-inline-block align-top ml-2 ml-lg-4">
                        <span class="tip-ditap-category text-ditap-h8">Recept</span>
                        <p class="text-ditap-serif search-item-headline"><strong>Králík</strong> pečený na česneku se
                            špenátem a bramborovými knedlíky</p>
                        <p class="text-ditap-paragraph-2 max-lines-ellipsis">Troubu předehřeju na 160 °C. <strong>Králíka</strong>
                            omyju, osuším a naporcuju. Každý díl
                            osolím, opepřím, potřu prolisovaným česnekem a obalím plátky slaniny...
                        </p>
                    </div>
                </a>
            </li>
        </ul>
        <div class="text-center pt-2 pt-lg-5">
            <a href="#" class="btn btn-ditap btn-ditap-blue btn-ditap-show-more">
                Načíst další
                <span class="badge badge-pill">16</span>
            </a>
        </div>
    </div>
</section>