<section class="bg-gray">
    <div class="container-md-fluid container-1180 pr-md-0 pl-lg-2 pr-lg-4 pl-xl-0 pr-xl-0 o-h oh-xl-none">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-ditap-h4 mb-3 mb-lg-5 headline-two-lines-centered">
                    Večeře o sedmé vždycky servíruju<br class="d-none d-xl-block"/> na obědových sadách
                </h4>
                <p class="text-ditap-default mt-md-4 mb-md-4">A taky je střídám nebo různě kombinuju.</p>
            </div>
        </div>
        <div class="teaser-slider-variable-cards ml-lg-auto pl-md-4 pl-xl-0 pr-md-0 pr-xl-0 position-relative">
            <!-- There must be always 3 slides visible -->
            <div class="pr-3 pr-xl-4">
                <a href="#" class="card medium-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x280/porcelain2_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center pb-3 pb-md-3 pb-lg-0 pt-lg-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Sada Oběd</p>
                        <hr/>
                        <p class="text-ditap-price-small">4899 <span>Kč</span></p>
                    </div>
                </a>
            </div>

            <div class="pr-3 pr-xl-4">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box p-0 text-center pb-3 p-md-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Hluboký talíř</p>
                        <hr/>
                        <p class="text-ditap-price-small">219 <span>Kč</span></p>
                    </div>
                </a>
            </div>

            <div class="pr-3 pr-xl-4">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/Melky_talir_steh.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box p-0 text-center pb-3 p-md-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Mělký talíř</p>
                        <hr/>
                        <p class="text-ditap-price-small">255 <span>Kč</span></p>
                    </div>
                </a>
            </div>

            <div class="pr-3 pr-xl-4">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box p-0 text-center pb-3 p-md-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Jen 2 hrnečky</p>
                        <hr/>
                        <p class="text-ditap-price-small">629 <span>Kč</span></p>
                    </div>
                </a>
            </div>

            <div class="pr-3 pr-xl-4">
                <a href="#" class="card medium-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x280/porcelain2_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center pb-3 pb-md-3 pb-lg-0 pt-lg-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Sada Oběd</p>
                        <hr/>
                        <p class="text-ditap-price-small">4899 <span>Kč</span></p>
                    </div>
                </a>
            </div>

            <div class="pr-3 pr-xl-4">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box p-0 text-center pb-3 p-md-2">
                        <p class="text-ditap-serif mt-3 mt-lg-0">Hluboký talíř</p>
                        <hr/>
                        <p class="text-ditap-price-small">219 <span>Kč</span></p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>