<section class="product-categories-slider bg-white p-t-10vh">
    <div class="container-fluid container-sm-fluid">
        <div class="row text-center mb-4">
            <div class="col mb-md-4 mb-lg-5">
                <h2 class="text-ditap-h4">Můžete si u mě<br/>koupit</h2>
            </div>
        </div>

        <div class="product-category-slider pl-md-2">

            <div class="slider-item-380 pl-2 pr-2 mr-lg-4 pl-lg-0 pr-lg-0">
                <div class="banner-zoom image-zoom-fast image-card p-0 position-relative o-h">
                    <div class="slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center p-4 p-lg-5">
                        <h3 class="text-ditap-h5 mt-4 mt-lg-0">Porcelán</h3>
                        <a href="#cat" class="btn btn-ditap btn-ditap-large btn-ditap-blue mb-5 mb-lg-0">Prohlédnout</a>
                    </div>
                    <div class="">
                        <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-porcelain.jpg" alt="Porcelán"/>
                    </div>
                </div>
            </div>

            <div class="slider-item-380 pl-2 pr-2 mr-lg-4 pl-lg-0 pr-lg-0">
                <div class="banner-zoom image-zoom-fast image-card p-0 position-relative o-h">
                    <div class="slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center p-4 p-lg-5">
                        <h3 class="text-center text-ditap-h5 mt-4 mt-lg-0">Zástěry<br/><span class="text-ditap-h8 fs-14">Nové</span></h3>
                        <a href="#cat" class="btn btn-ditap btn-ditap-large btn-ditap-blue mb-5 mb-lg-0">Prohlédnout</a>
                    </div>
                    <div class="">
                        <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-aprons.jpg" alt="Zástěry"/>
                    </div>
                </div>
            </div>

            <div class="slider-item-380 pl-2 pr-2  mr-lg-4 pl-lg-0 pr-lg-0">
                <div class="banner-zoom image-zoom-fast image-card p-0 position-relative o-h">
                    <div class="slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center p-4 p-lg-5">
                        <h3 class="text-ditap-h5 mt-4 mt-lg-0">Kuchařky</h3>
                        <a href="#cat" class="btn btn-ditap btn-ditap-large btn-ditap-blue mb-5 mb-lg-0">Prohlédnout</a>
                    </div>
                    <div class="">
                        <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-cookbooks.jpg" alt="Kuchařky"/>
                    </div>
                </div>
            </div>

            <div class="slider-item-380 pl-2 pr-2 mr-lg-4 pl-lg-0 pr-lg-0">
                <div class="banner-zoom image-zoom-fast image-card p-0 position-relative o-h">
                    <div class="slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center p-4 p-lg-5">
                        <h3 class="text-ditap-h5 mt-4 mt-lg-0">Pyžama</h3>
                        <a href="#cat" class="btn btn-ditap btn-ditap-large btn-ditap-blue mb-5 mb-lg-0">Prohlédnout</a>
                    </div>
                    <div class="">
                        <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-pajamas.jpg" alt="Pyžama"/>
                    </div>
                </div>
            </div>

            <div class="slider-item-380 pl-2 pr-2 mr-lg-4 pl-lg-0 pr-lg-0">
                <div class="banner-zoom image-zoom-fast image-card p-0 position-relative o-h">
                    <div class="slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center p-4 p-lg-5">
                        <h3 class="text-ditap-h5 mt-4 mt-lg-0">Brože</h3>
                        <a href="#cat" class="btn btn-ditap btn-ditap-large btn-ditap-blue mb-5 mb-lg-0">Prohlédnout</a>
                    </div>
                    <div class="">
                        <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-brooch2.jpg" alt="Brože"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>