<section class="product-categories-slider bg-white p-t-10vh">
    <div class="container-fluid container-sm-fluid">
        <div class="row text-center mb-4">
            <div class="col mb-md-4 mb-lg-5">
                <h2 class="text-ditap-h4">Můžete si u mě<br/>koupit</h2>
            </div>
        </div>

        <div class="product-category-slider pl-md-2">

            <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
                <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-ditap-h5">Porcelán</h3>
                    <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
                </div>
                <div class="img-bg">
                    <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-porcelain.jpg" alt="Porcelán">
                </div>
            </a>

            <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
                <div class="card-content slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-ditap-h5 text-center">Zástěry<br/><span class="text-ditap-h8 color-red fs-14">Nové</span></h3>
                    <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
                </div>
                <div class="img-bg">
                    <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-aprons.jpg" alt="Zástěry">
                </div>
            </a>

            <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
                <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-ditap-h5">Kuchařky</h3>
                    <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
                </div>
                <div class="img-bg">
                    <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-cookbooks.jpg" alt="Porcelán">
                </div>
            </a>

            <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
                <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-ditap-h5">Pyžama</h3>
                    <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
                </div>
                <div class="img-bg">
                    <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-pajamas.jpg" alt="Pyžama">
                </div>
            </a>

            <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
                <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
                    <h3 class="text-ditap-h5">Brože</h3>
                    <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
                </div>
                <div class="img-bg">
                    <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-brooch2.jpg" alt="Brože">
                </div>
            </a>

        </div>
    </div>
</section>