<section class="promo-stories pt-0 pt-lg-5 p-tb-10vh">
    <div class="container p-lg-0">
        <div class="row">
            <div class="col-12 col-lg-6 pb-3 p-lg-0">
                <div class="card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center">
                            <h3>Příběh <br> mého porcelánu</h3>
                            <a href="#" class="nav-link image-zoom-fast btn btn-ditap btn-ditap-lg btn-ditap-blue mt-3">Prohlédnout</a>
                        </div>
                    </div>
                    <img class="img-zoom" src="DitaP/media/DitaP/images/620x620/porcelain1_620x620.jpg" alt="Příběh mého porcelánu"/>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-lg-0">
                <div class="card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center">
                            <h3>Dita<br/>Pecháčková</h3>
                            <a href="#" class="nav-link image-zoom-fast btn btn-ditap btn-ditap-lg btn-ditap-blue mt-3">Můj příběh</a>
                        </div>
                    </div>
                    <img class="img-zoom" src="DitaP/media/DitaP/images/620x620/ditaP-story1_620x620.jpg" alt="Můj příběh"/>
                </div>
            </div>
        </div>
    </div>
</section>