<section class="promo-stories m-b-10vh">
    <div class="container pl-4 pr-4 pl-lg-0 pr-lg-0">
        <div class="row">
            <div class="col-12 pb-3">
                <div class="card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center">
                            <h3>Příběh <br> mého porcelánu</h3>
                            <a href="#" class="nav-link image-zoom-fast btn btn-ditap btn-ditap-lg btn-ditap-blue mt-3">Prohlédnout</a>
                        </div>
                    </div>
                    <img class="img-zoom img-translate-33" src="DitaP/media/DitaP/images/1180x620/porcelain1_1180x620.jpg" alt="Příběh mého porcelánu"/>
                </div>
            </div>
        </div>
    </div>
</section>