<section class="">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center position-relative o-h">
            <div class="card-text-stories  ">
                <h2>Příběh <br> mého porcelánu</h2>
                <input type="button" class="btn-ditap btn-ditap-lg btn-ditap-blue mt-3" value="Prohlédnout">
            </div>
            <div class="card-stories zoom">
                <img class="" src="DitaP/media/DitaP/images/stories/Untitled-1.jpg" alt=""/>
            </div>
        </div>
    </div>
</section>