<section class="promo-stories p-b-10vh">
    <div class="container pl-4 pr-4 pl-xl-0 pr-xl-0">
        <div class="row">
            <div class="col-12 pb-3 pl-lg-0 pr-lg-0">
                <div class="card-panel position-relative o-h banner-zoom image-zoom-fast">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center p-t-5vh">
                            <h2 class="text-ditap-h2">Příběh <br> mého porcelánu</h2>
                            <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue mt-3">Prohlédnout</a>
                        </div>
                    </div>
                    <img class="img-zoom img-translate-responsive" src="DitaP/media/DitaP/images/1180x620/porcelain1_1180x620.jpg" alt="Příběh mého porcelánu"/>
                </div>
            </div>
        </div>
    </div>
</section>