<section class="promo-stories p-b-10vh">
    <div class="container pl-4 pr-4 pl-lg-0 pr-lg-0">
        <div class="row">
            <div class="col-12 pb-3">
                <div class="card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center pt-lg-5">
                            <h2>Dita<br/>Pecháčková</h2>
                            <a href="#" class="nav-link image-zoom-fast btn btn-ditap btn-ditap-lg btn-ditap-blue mt-3">Můj příběh</a>
                        </div>
                    </div>
                    <img class="img-zoom img-translate-33" src="DitaP/media/DitaP/images/1180x620/story1_1180x620.jpg" alt="Dita Pecháčková - Můj příběh"/>
                </div>
            </div>
        </div>
    </div>
</section>