<section class="bg-gray m-t-5vh p-b-10vh">
    <div class="container container-1180 p-lg-0">
        <p class="text-ditap-h4 text-center">Deník Dity P. 2</p>
        <div class="row pt-3">
            <!-- 1 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="" src="DitaP/media/DitaP/images/280x280/pod-stanem.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box ">
                        <p class="text-ditap-serif m-0">Pod stanem</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Indiánský chleba</li>
                            <li class="text-ditap-paragraph-2">Rýžová kaše s malinovým</li>
                            <li class="text-ditap-paragraph-2">Topinky s tuňákovou</li>
                            <li class="text-ditap-paragraph-2">Vejce v rajčatové omáčce</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/moje-dorty.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Dort pro Davida</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Ovocné dortíky</li>
                            <li class="text-ditap-paragraph-2">Ovocný dort z ovesné mouky</li>
                            <li class="text-ditap-paragraph-2">Ředkvičková pomazánka</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/snidane-v-trave.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Snídaně v trávě</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Hrášková polévka</li>
                            <li class="text-ditap-paragraph-2">Kremrole</li>
                            <li class="text-ditap-paragraph-2">Pečené jehněčí</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 4 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/v-ligurii.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">V Ligurii na olivách</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Koláč s olivovým olejem</li>
                            <li class="text-ditap-paragraph-2">Pečená dýně nadívaná houbami</li>
                            <li class="text-ditap-paragraph-2">Těstoviny s olivami, cherry</li>
                        </ul>
                    </div>
                </a>
            </div>

            <!-- 5 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/buchty-na-plech.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Buchty na plech</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Koláč s malinami a mascarpone</li>
                            <li class="text-ditap-paragraph-2">Koláč se zakysanou smetanou</li>
                            <li class="text-ditap-paragraph-2">Rebarborové řezy</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 6 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/prazdniny-na-chalupe.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Prázdniny na chalupě</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Králík pečený na česneku</li>
                            <li class="text-ditap-paragraph-2">Kulajda</li>
                            <li class="text-ditap-paragraph-2">Kynuté borůvkové knedlíky</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 7 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/rodinny-prebor.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Rodinný přebor</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Bramboráky</li>
                            <li class="text-ditap-paragraph-2">Nakládaný hermelín</li>
                            <li class="text-ditap-paragraph-2">Pečené koleno</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 8 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/halusky.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Halušky ze Závady</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Džatky s mákem</li>
                            <li class="text-ditap-paragraph-2">Gróbská husí stehna s lokšemi</li>
                            <li class="text-ditap-paragraph-2">Halušky s bryndzou</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 9 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/panelstory.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Panelstory</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Francouzské brambory</li>
                            <li class="text-ditap-paragraph-2">Hrachovka s krutony</li>
                            <li class="text-ditap-paragraph-2">Pohár Věra</li>
                            <li class="text-ditap-paragraph-2">Skořicové lívanečky</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 10 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/v-italii.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">V Itálii na lanýžích</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Dušené vepřové nadivoko</li>
                            <li class="text-ditap-paragraph-2">Míchaná vajíčka</li>
                            <li class="text-ditap-paragraph-2">Parmazánové rizoto</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 11 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/pesto.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Nejlepší pesto na světě</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Domácí těstoviny</li>
                            <li class="text-ditap-paragraph-2">Pesto</li>
                            <li class="text-ditap-paragraph-2">Toskánská rajčatová polévka</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 12 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/jidla-pro-dusi.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Jídla pro duši</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Dýňový cheesecake</li>
                            <li class="text-ditap-paragraph-2">Líčka na víně s bramborovou</li>
                            <li class="text-ditap-paragraph-2">Slepičí polévka</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 13 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/novy-rok.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Šťastný Nový rok</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Utopenci</li>
                            <li class="text-ditap-paragraph-2">Pistáciové sušenky</li>
                            <li class="text-ditap-paragraph-2">Paprikáš</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 14 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/na-parniku.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Na parníku</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Pljeskavica s ajvarem</li>
                            <li class="text-ditap-paragraph-2">Krkovičky s medovo-pivní bbq</li>
                            <li class="text-ditap-paragraph-2">Grilované kuře s ledovým</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 15 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/hnizdeni.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Hnízdění</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Pomalu pečená vepřová plec</li>
                            <li class="text-ditap-paragraph-2">Karbanátky</li>
                            <li class="text-ditap-paragraph-2">Sulc</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 16 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/za-dva.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Když jím za dva</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Těstoviny s ricottou</li>
                            <li class="text-ditap-paragraph-2">Marinovaný grilovaný losos</li>
                            <li class="text-ditap-paragraph-2">Dort Mississippi</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-block d-md-none text-center mt-5">
                <a href="#" class="btn btn-ditap btn-ditap-blue btn-ditap-show-more">
                    Načíst další
                    <span class="badge badge-pill">12</span>
                </a>
            </div>
        </div>
    </div>
</section>


