<div class="deck teaser-cards-promo d-none d-md-flex align-items-md-end">
    <a href="#" class="card-promo">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
            </div>
        </div>
        <div class="card-overlay-promo position-absolute"></div>
    </a>

    <a href="#" class="card-promo">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
            </div>
        </div>
        <div class="card-overlay-promo position-absolute"></div>
    </a>

    <a href="#" class="card-promo">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
            </div>
        </div>
        <div class="card-overlay-promo position-absolute"></div>
    </a>

    <a href="#" class="card-promo">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
            </div>
        </div>
        <div class="card-overlay-promo position-absolute"></div>
    </a>

    <a href="#" class="card-promo">
        <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
            </div>
        </div>
        <div class="card-overlay-promo position-absolute"></div>
    </a>
</div>