<style>
    .truncate-ellipsis {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
    }

    /*.truncate-ellipsis > * {*/
    .truncate-ellipsis li {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<section class="bg-gray m-t-5vh p-b-10vh">
    <div class="container container-1180 p-lg-0">
        <p class="text-ditap-h4 text-center pt-5">Deník Dity P.</p>
        <div class="row pt-3">
            <!-- 1 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="" src="DitaP/media/DitaP/images/280x280/teple-dezerty.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Teplé dezerty</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Čokoládové bábovičky</li>
                            <li class="text-ditap-paragraph-2">Krambl</li>
                            <li class="text-ditap-paragraph-2">Obrácený jablečný koláč</li>
                            <li class="text-ditap-paragraph-2">Tvarohové taštičky s povidly</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/zavarovani.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Zavařování</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Čokoládové bábovičky</li>
                            <li class="text-ditap-paragraph-2">Obrácený jablečný koláč</li>
                            <li class="text-ditap-paragraph-2">Tvarohové taštičky s povidly</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/moje-dorty.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Moje dorty</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Čokoládové bábovičky</li>
                            <li class="text-ditap-paragraph-2">Krambl</li>
                            <li class="text-ditap-paragraph-2">Obrácený jablečný koláč</li>
                            <li class="text-ditap-paragraph-2">Tvarohové taštičky s povidly</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 4 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/po-babicce.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Po babičce</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Králík na smetaně</li>
                            <li class="text-ditap-paragraph-2">Koblihy</li>
                            <li class="text-ditap-paragraph-2">Koprovka s bramborama na</li>
                            <li class="text-ditap-paragraph-2">Bramboračka</li>
                        </ul>
                    </div>
                </a>
            </div>

            <!-- 5 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/piknik.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Piknik</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Lotrinský Quiche s chřestem</li>
                            <li class="text-ditap-paragraph-2">Paštika s chřestem</li>
                            <li class="text-ditap-paragraph-2">Jarní kuřátka s citronem</li>
                            <li class="text-ditap-paragraph-2">Jablečné bábovičky s javor</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 6 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/vyprostovaky.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Vyprošťováky</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Citronáda</li>
                            <li class="text-ditap-paragraph-2">Krémová česnečka</li>
                            <li class="text-ditap-paragraph-2">Fish & chips a domácí tatarka</li>
                        </ul>
                    </div>
                </a>
            </div>
            <!-- 7 -->
            <div class="card-recipe card-wrapper-small col-6 col-md-4 col-lg-3 pl-1 pl-md-0 pr-1 pr-md-0 pr-lg-2 pl-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/party.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-serif m-0">Sourozenecká párty</p>
                        <ul class="list-unstyled truncate-ellipsis mt-1">
                            <li class="text-ditap-paragraph-2">Krůtí stehna se šalotkami</li>
                            <li class="text-ditap-paragraph-2">Pudinkový trifle</li>
                            <li class="text-ditap-paragraph-2">Salát s pečenou řepou</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-block d-md-none text-center mt-5">
                <a href="#" class="btn btn-ditap btn-ditap-blue btn-ditap-show-more">
                    Načíst další
                    <span class="badge badge-pill">3</span>
                </a>
            </div>
        </div>
    </div>
</section>
