<section class="eshop-services bg-white p-b-10vh p-t-5vh">
    <div class="container pt-4 pl-4 pr-4 pl-md-0 pr-md-0">
        <div class="row">
            <!-- Delivery -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column pr-md-4 pl-md-4  pr-lg-5 pl-lg-5">
                <div class="pb-4 pr-4 pr-md-0 pt-0">
                    <span class="services-icon ditap-ico_symbol_delivery_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="text-ditap-h8 mb-2">Doručení do 7 dnů</p>
                    <p class="text-small-on-mobile">Zboží, které mám skladem, vždy. To ostatní může trvat trošku déle.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Packaging -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column pr-md-4 pl-md-4 pr-lg-5 pl-lg-5">
                <div class="pb-4 pr-4 pr-md-0 pt-0">
                    <span class="services-icon ditap-ico_symbol_packed_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="text-ditap-h8 mb-2">Pečlivě zabaleno</p>
                    <p class="text-small-on-mobile">Aby se ani porcelánu nic nestalo a dorazil k vám v pořádku.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Made in CR -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column pr-md-4 pl-md-4 pr-lg-5 pl-lg-5">
                <div class="pb-4 pr-4 pr-md-0 pt-0">
                    <span class="services-icon ditap-ico_symbol_czech_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="text-ditap-h8 mb-2">vyrobeno v česku</p>
                    <p class="text-small-on-mobile">Aby vše bylo v té nejlepší kvalitě, je všechno zboží lokálního původu.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-7-8-8">
            <div class="col text-center">
                <a href="#" class="btn btn-ditap btn-ditap-blue">Vše o nákupu</a>
            </div>
        </div>
    </div>
    <hr class="mt-0 mb-0"/>
</section>