<section class="bg-gray m-b-10vh">
    <div class="container container-1180 p-lg-0">
        <div class="row pt-3">
            <!-- 1 -->
            <div class="card-wrapper-medium col-12 col-md-8 col-lg-6 pl-4 pl-md-2 pr-4 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card medium-card image-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x440/recept1_580x440.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-left position-absolute p-4 p-lg-5">
                        <p class="text-ditap-h8 pt-lg-4">5 Receptů</p>
                        <h3 class="text-ditap-h5">Moje milované<br/>palačinky</h3>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small col-6 col-md-4 col-lg-3 pl-4 pl-md-2 pr-2 pr-md-2 pr-lg-2 pl-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/kucharka.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Kuchařka<br/>Deník Dity P.</p>
                        <hr/>
                        <p class="text-ditap-price-small m-0">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-small col-6 col-md-4 col-lg-3 pl-2 pl-md-2 pr-4 pr-md-2 pl-lg-2 pr-lg-0">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 m-0 pb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis m-0">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <!-- 1 -->
            <div class="card-wrapper-small col-6 col-md-4 col-lg-3 pl-4 pl-md-2 pr-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 m-0 pb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis m-0">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small col-6 col-md-4 col-lg-3 pl-2 pl-md-2 pr-4 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/recept2_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 m-0 pb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis m-0">Topinky s tuňákovou pomazánkou a vejcem</p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-medium col-12 col-md-8 col-lg-6 pl-4 pl-md-2 pr-4 pr-md-0 pl-lg-2 pr-lg-0">
                <a href="#" class="card card medium-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="text-ditap-price-small">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>