<section class="eshop-services bg-white p-tb-10vh">
    <div class="container pt-4 pl-4 pr-4 pl-md-0 pr-md-0">
        <div class="row">
            <!-- Delivery -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column">
                <div class="pb-4 pr-4 pt-2 pt-md-0 pr-md-0">
                    <span class="services-icon ditap-ico_symbol_delivery_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="headline-sm mb-1">Doručení do 7 dnů</p>
                    <p class="paragraph-small">Zboží, které mám skladem, vždy. To ostatní může trvat trošku déle.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Packaging -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column">
                <div class="pb-4 pr-4 pt-2 pt-md-0 pr-md-0">
                    <span class="services-icon ditap-ico_symbol_packed_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="headline-sm mb-1">Pečlivě zabaleno</p>
                    <p class="paragraph-small">Aby se ani porcelánu nic nestalo a dorazil k vám v pořádku.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Made in CR -->
            <div class="service-card col-12 col-md-4 pb-3 text-left text-md-center d-flex flex-row flex-md-column">
                <div class="pb-4 pr-4 pt-2 pt-md-0 pr-md-0">
                    <span class="services-icon ditap-ico_symbol_czech_mob"></span>
                </div>
                <div class="pr-4 pr-md-0">
                    <p class="headline-sm mb-1">vyrobeno v česku</p>
                    <p class="paragraph-small">Aby vše bylo v té nejlepší kvalitě, je všechno zboží lokálního původu.</p>
                    <hr class="mt-4 hr-small d-none d-md-block"/>
                </div>
            </div>
        </div>
        <div class="row pt-4 pb-5">
            <div class="col text-center">
                <a href="#" class="nav-link btn btn-ditap btn-ditap-blue">Vše o nákupu</a>
            </div>
        </div>
    </div>
    <hr/>
</section>