<section class="bg-gray m-b-10vh">
    <div class="container p-lg-0">
        <div class="row text-center">
            <div class="col">
                <h4 class="">může se vám hodit</h4>
            </div>
        </div>
        <div class="row pt-5">
            <!-- 1 -->
            <div class="card-wrapper-medium col-lg-6 col-12">
                <a href="#" class="btn card medium-card p-0">
                    <div class="medium-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center">
                        <p class="paragraph-serif mt-3">Sada Kalíšky se slánkou</p>
                        <hr>
                        <p class="font-weight-bold">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small variant-2 col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="headline-sm ml-3 mt-3">Recept</p>
                        <p class="paragraph-serif ml-3">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-small variant-2 col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/porcelan-mak.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="headline-sm  ml-3 mt-3">E-shop</p>
                        <p class="paragraph-serif ml-3">Můj porcelán</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>