<div class="product-card-slider">
    <div class="pl-1 pr-1">
        <div class="card small-card p-0 d-block">
            <span class="product-pattern ditap-ico_vzor_len_mob fs-15"> +4</span>
            <div class="small-card-img-box">
                <img src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt=""/>
            </div>
            <div class="small-card-text-box mt-2 mt-md-0 text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr>
                <p>
                    <a href="#product1234" class="nav-link text-ditap-price-small p-0">389 Kč</a>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price mt-2">389 Kč</a>
                </p>
            </div>
        </div>
    </div>

    <div class="pl-1 pr-1">
        <div class="card small-card p-0 d-block">
            <span class="product-pattern ditap-ico_vzor_len_mob fs-15"> +4</span>
            <div class="small-card-img-box">
                <img src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt=""/>
            </div>
            <div class="small-card-text-box mt-2 mt-md-0 text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr>
                <p>
                    <a href="#product1234" class="nav-link text-ditap-price-small p-0">389 Kč</a>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price mt-2">389 Kč</a>
                </p>
            </div>
        </div>
    </div>

    <div class="pl-1 pr-1">
        <div class="card small-card p-0 d-block">
            <span class="product-pattern ditap-ico_vzor_len_mob fs-15"> +4</span>
            <div class="small-card-img-box">
                <img src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt=""/>
            </div>
            <div class="small-card-text-box mt-2 mt-md-0 text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr>
                <p>
                    <a href="#product1234" class="nav-link text-ditap-price-small p-0">389 Kč</a>
                    <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price mt-2">389 Kč</a>
                </p>
            </div>
        </div>
    </div>
</div>