<section class="bg-gray m-b-10vh">
    <div class="container container-1180 p-lg-0">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-ditap-h4">tipy na dárky</h4>
            </div>
        </div>
        <div class="row pt-3">
            <!-- 1 -->
            <div class="card-wrapper-medium order-md-1 col-12 col-md-8 col-lg-6 pl-4 pr-4 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card medium-card image-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x440/eshop1_580x440.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-left position-absolute p-4 p-lg-5">
                        <p class="icon-font pt-lg-4"><span class="ditap-ico_top_mob2"></span></p>
                        <h3 class="text-ditap-h5">Sváteční sady<br/>zlato a platina</h3>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small order-md-2 col-12 col-md-4 col-lg-3 pl-4 pr-4 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card card-ditap-tip small-card p-0 d-block">
                    <div class="text-center pt-lg-5 px-md-3">
                        <img class="img-ditap-face-responsive pb-2 pb-md-0" src="DitaP/media/DitaP/images/img_dita_face.png" alt="Dita P."/>
                        <p class="text-ditap-h8 pt-md-3 px-md-3">Chystáte se na svatbu?</p>
                        <p class="text-ditap-quotation">
                            Vybrat správný dárek je vždycky oříšek. Proto jsem pro vás vybrala ty nejlepší,
                            se kterými se prostě nemůžete netrefit.
                        </p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-small order-md-3 col-6 col-md-4 col-lg-3 pl-4 pr-2 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/eshop1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Pyžamo pro tátu</p>
                        <hr>
                        <p class="text-ditap-price-small m-0">2 975 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Second row -->
            <!-- 1 -->
            <div class="card-wrapper-small order-md-5 order-lg-4 col-6 col-md-4 col-lg-3 pl-2 pr-4 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/eshop2_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Pyžamo pro mámu</p>
                        <hr>
                        <p class="text-ditap-price-small m-0">2 795 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-medium order-md-4 order-lg-5 col-12 col-md-8 col-lg-6 pl-4 pr-4 pl-md-2 pr-md-2 pl-lg-2 pr-lg-2">
                <a href="#" class="card medium-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="text-ditap-price-small">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 3 Not visible on mobile -->
            <div class="card-wrapper-small order-md-6 col-md-4 col-lg-3 pl-md-2 pr-md-0 pl-lg-2 pr-lg-2 d-none d-md-block">
                <a href="#" class="card small-card p-0 d-block">
                    <div class="small-card-img-box">
                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada<br/>Jen dva hrnečky</p>
                        <hr>
                        <p class="text-ditap-price-small m-0">589 <span>Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>