<section class="bg-gray m-b-10vh">
    <div class="container p-lg-0">
        <div class="row pt-3">
            <!-- 1 -->
            <div class="card-wrapper-medium col-lg-6 col-12">
                <a href="#" class="card medium-card image-card p-0 btn d-block">
                    <div class="medium-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/580x440/recept1_580x440.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-left position-absolute p-4 p-lg-5">
                        <p class="headline-sm pt-lg-4">5 Receptů</p>
                        <h3>Moje milované<br/>palačinky</h3>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small variant-2 col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/kucharka.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-center">
                        <p class="paragraph-serif mt-3">Kuchařka</p>
                        <p class="paragraph-serif">Deník Dity P.</p>
                        <hr>
                        <p class="price-sm">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-small variant-2 col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="headline-sm pl-1 pt-1 pl-lg-3 pt-lg-3">Recept</p>
                        <p class="paragraph-serif pl-1 pl-lg-3">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- Second row -->
        <div class="row">
            <!-- 1 -->
            <div class="card-wrapper-small col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="headline-sm pl-1 pt-1 pl-lg-3 pt-lg-3">Recept</p>
                        <p class="paragraph-serif pl-1 pl-lg-3">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="card-wrapper-small col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#" class="card small-card btn p-0 d-block">
                    <div class="small-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept2_280x280.jpg" alt=""/>
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="headline-sm pl-1 pt-1 pl-lg-3 pt-lg-3">Recept</p>
                        <p class="paragraph-serif pl-1 pl-lg-3">Topinky s tuňákovou pomazánkou a vejcem</p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="card-wrapper-medium col-lg-6 col-12">
                <a href="#" class="btn card medium-card p-0 d-block">
                    <div class="medium-card-img-box">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt=""/>
                    </div>
                    <div class="medium-card-text-box text-center">
                        <p class="paragraph-serif mt-3">Sada Kalíšky se slánkou</p>
                        <hr>
                        <p class="price-sm">425 <span>Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>