<!-- Grid section with tiles ( homepage ) -->
<section class="bg-grey">
    <div class="container-grid">
        <div class="row no-gutters justify-content-between w-100">
            <!-- 1 medium card - and 4 small cards - 1 medium card -->
            <div class="col-auto">
                <!-- Medium image card -->
                <a href="#" class="d-block tile medium-card image-card">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x440/recept1_580x440.jpg" alt="">
                    <div class="medium-card-text-box text-left position-absolute">
                        <p class="text-ditap-h8">5 Receptů</p>
                        <h3 class="text-ditap-h5">Moje milované<br/>palačinky</h3>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/denik280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Kuchařka<br/>Deník Dity P.</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Recipe card -->
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Recipe card -->
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Recipe card -->
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept2_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif max-lines-ellipsis">Topinky s tuňákovou pomazánkou a vejcem</p>
                    </div>
                </a>
            </div>
            <div class="col-auto">
                <!-- Medium product card -->
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>