<div class="banner-ditap jumbotron jumbotron-fluid p-0">
    <div class="position-relative o-h">
        <div class="card-panel position-absolute d-flex justify-content-start align-items-center w-100 h-100">
            <div class="container text-left card-align-position pl-4 pl-lg-0">
                <img class="d-block mb-4" src="DitaP/media/DitaP/logos/logo_ditap.svg" alt="Dita P."/>
                <h1 class="text-ditap-h2">Já prostě vařím<br/>každý den</h1>
            </div>
        </div>
        <img class="img-banner d-block mx-auto img-translate-responsive" src="DitaP/media/DitaP/images/banner/about-banner.jpg" alt="Já prostě vařím každý den"/>
    </div>
</div>
