<div class="banner-ditap jumbotron jumbotron-fluid p-0">
    <div class="position-relative o-h">
        <div class="card-panel position-absolute d-flex justify-content-start align-items-center w-100 h-100">
            <div class="container text-left pl-4 pl-lg-0">
                <img class="d-block mb-4" src="DitaP/media/DitaP/logos/logo_ditap.svg" alt="Dita P."/>
                <h1>Já prostě vařím<br/>každý den</h1>
            </div>
        </div>
        <img class="img-banner d-block mx-auto" src="DitaP/media/DitaP/images/banner/about-banner.jpg" alt="Já prostě vařím každý den"/>
    </div>
</div>

<!--
<div class="banner o-h">
    <div class="jumbo-title">
        <img src="DitaP/media/DitaP/logos/logo_ditap.svg" alt="">
        <h2>Já prostě vařím každý den</h2>
    </div>
    <div class="jumbotron m-0 p-0"></div>
    <img class="btn-img-down" src="DitaP/media/DitaP/images/but_arrow_down_normal.png">
</div>-->
