<!-- Documentation of sticky component: https://getuikit.com/docs/sticky -->
<section class="m-t-10vh">
    <!-- Recipe -->
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="recipe-print col-md-12 col-lg-6 ml-xl-auto col-xl-5 col-640 px-4 px-md-5 py-lg-5 mt-lg-5 pl-xl-0 pr-lg-6rem order-last order-lg-first m-b-4vh">
                <p class="text-ditap-h8 pt-5 pb-md-2 not-print">recept</p>
                <h3 class="text-ditap-h3">Bazalkové pesto</h3>
                <p class="text-ditap-serif pt-md-3">Pesto je moje milované a taky klidně řeknu, že je nejlepší na světě. Naučila jsem se ho v
                    Itálii, kde roste bazalka na dohled k moři a tam ho opravdu umějí.</p>
                <p class="text-ditap-paragraph-2 pt-md-4 pb-md-4">4 porcí &bull; Příprava 15 min</p>
                <figure class="recipe-ingredients">
                    <span class="recipe-ingredients-headline text-ditap-default"></span>
                    <ul class="list-unstyled pb-md-4 text-ditap-recipe-ingredients pr-md-5">
                        <li>3 lžíce piniových oříšků</li>
                        <li>1 stroužek česneku</li>
                        <li>2 velké hrsti bazalky, omyté a osušené</li>
                        <li>100 ml olivového oleje</li>
                        <li>2 lžíce pecorina, nastrouhaného najemno</li>
                        <li>6 lžic parmazánu, nastrouhaného najemno</li>
                        <li>špetka mořské soli</li>
                    </ul>
                </figure>
                <ol class="ol-num">
                    <li class="text-ditap-default pb-4">
                        V hmoždíři utřu piniové oříšky na hladkou pastu. Přidám česnek a znovu třu dohladka. Přidám
                        špetku soli a bazalkové lístky
                        a znovu třu. Když bazalka začne pouštět zelenou tekutinu, vliju olivový olej a pokračuju ve
                        tření, až se olej vstřebá. Nakonec přidám oba sýry a míchám tak dlouho, až vznikne krémové
                        pesto.
                    </li>
                    <li class="text-ditap-default pb-4">
                        A používám ho na všechno možné, mažu si ho na chleba, přidávám ho do salátového dresinku,
                        potírám s ním brambory při pečení, ale nejradši ho mám stejně s těstovinami.
                    </li>
                </ol>
                <div class="text-center pb-lg-5 not-print">
                    <a href="#" class="btn btn-ditap-mini btn-ditap-print text-center d-inline">
                        <span class="ditap-ico_printer_grey mr-1 fs-15 text-ditap-label"></span>
                        <span class="text-ditap-label">Vytisknout recept</span>
                    </a>
                </div>
            </div>
            <div id="recipe-2" class="recipe-img-wrapper col-md-12 col-lg-6 p-0 m-b-4vh position-relative">
                <div class="teaser-card-big sticky-top-0">
                    <!-- the kentico printing must be way: src="DitaP/DitaP/media/DitaP/images/recipes/teaser/your-img.jpg" -->
                    <img class="d-block img-recipe-teaser" src="DitaP/media/DitaP/images/recipes/teaser/bazalkove-pesto.jpg" alt="Bazalkové pesto"/>
                    <!-- Popover teaser ---------------------------------------------------------------------------- -->
                    <div class="vkpopup">
                        <!-- Popover button -->
                        <a href="#" class="nav-link icon-link btn-ditap-teaser-cart-big">
                            <span class="ditap-ico_cart_empty"></span>
                        </a>
                        <!-- Popover content -->
                        <div class="popover-intro d-none d-md-block">
                            <div>
                                <button type="button" class="close pt-2 pr-2" aria-label="Close">
                                    <span class="ditap-ico_close_mob fs-14" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="popover-body text-center">
                                <div>
                                    <img class="img60x60 ml-3 mb-2" src="DitaP/media/DitaP/images/img_dita_face.png"/>
                                </div>
                                <span class="text-ditap-quotation fs-15">Líbí se vám moje nádobí?<br/>Klikněte.</span>
                            </div>
                        </div>
                        <!-- Popover slider on click -->
                        <div class="slider-product-popover hide">
                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-780 m-t-10vh px-md-4 px-lg-0">
        <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00004.jpg" alt=""/>
    </div>
</section>