<!-- Documentation of sticky component: https://getuikit.com/docs/sticky -->
<section class="m-t-10vh">
    <!-- Recipe -->
    <div class="container-fluid mb-5">
        <div class="row">
            <div id="recipe-5" class="recipe-img-wrapper col-md-12 col-lg-6 p-0 m-b-4vh position-relative">
                <div class="teaser-card-big sticky-top-0">
                    <img class="d-block img-recipe-teaser" src="DitaP/media/DitaP/images/recipes/teaser/tresnova-bublanina.jpg" alt="Třešňová bublanina"/>
                    <!-- Popover teaser ---------------------------------------------------------------------------- -->
                    <div class="vkpopup">
                        <!-- Popover button -->
                        <a href="#" class="nav-link icon-link btn-ditap-teaser-cart-big">
                            <span class="ditap-ico_cart_empty"></span>
                        </a>
                        <!-- Popover content -->
                        <div class="popover-intro d-none d-md-block">
                            <div>
                                <button type="button" class="close pt-2 pr-2" aria-label="Close">
                                    <span class="ditap-ico_close_mob fs-14" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="popover-body text-center">
                                <div>
                                    <img class="img60x60 ml-3 mb-2" src="DitaP/media/DitaP/images/img_dita_face.png"/>
                                </div>
                                <span class="text-ditap-quotation fs-15">Líbí se vám moje nádobí?<br/>Klikněte.</span>
                            </div>
                        </div>
                        <!-- Popover slider on click -->
                        <div class="slider-product-popover hide">
                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-wrapper-small">
                                <div href="#" class="card small-card p-0 m-0">
                                    <div class="small-card-img-box">
                                        <img src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt=""/>
                                    </div>
                                    <div class="small-card-text-box text-center">
                                        <p class="text-ditap-serif m-0 fs-17">Velký<br/>servírovací talíř</p>
                                        <a href="#" class="btn btn-ditap btn-ditap-red btn-ditap-price">389 Kč</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5 ml-xl-5 col-640 pl-4 pr-4 pl-md-5 pr-md-5 pt-lg-5 mt-lg-5 pb-lg-5 pr-xl-5 mb-4vh">
                <p class="text-ditap-h8 pt-5 pb-md-3">recept</p>
                <h3 class="text-ditap-h3">Třešňová bublanina</h3>
                <p class="text-ditap-serif pt-md-4 pb-md-4 mb-md-4">
                    Na moji klasiku nikdy nezapomenu, věřím totiž, že léto by bez ní nezačalo.
                    A ono nás hned po té naší krásné večeři poctilo žhavým zapadajícím sluníčkem.
                </p>
                <!-- Send recipe via email -->
                <div class="card frame-ditap bg-white p-3 p-md-5">
                    <div class="d-flex align-items-center pb-4">
                        <img class="img-ditap-face-responsive" src="DitaP/media/DitaP/images/img_dita_face.png" alt="Dita P."/>
                        <span class="pl-3 text-ditap-h8">Dejte mi e-mail<br/>a já vám dám recepty</span>
                    </div>
                    <p class="text-ditap-quotation pl-1">
                        Napište mi svoji e-mailovou adresu a můj blog budete už od příště dostávat jako úplně první. A ještě k tomu
                        v něm bude vždycky jeden recept navíc. Třeba jako tenhle. Těším se na vás.
                    </p>
                    <div class="form-group mt-1 mt-md-3 pb-4 d-md-flex d-lg-block justify-content-start align-items-center">
                        <input type="email" name="email" class="form-control variant-2 input-ditap-lg mb-3 mb-md-0 mr-md-3" placeholder="Váš e-mail" required />
                        <div class="text-left invalid-feedback">
                            Chybová hláška
                        </div>
                        <input type="submit" class="btn btn-ditap btn-ditap-large btn-ditap-blue mt-lg-4" value="Odebírat"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-780 m-t-10vh px-md-4 px-lg-0">
        <img class="img-fluid mb-3" src="DitaP/media/DitaP/images/780x520/promo_img_00009.jpg" alt=""/>
    </div>
</section>