<!--Předvypněno-->
<div id="fc" class="form-contact frame-ditap px-3 pt-3 pb-4 px-md-4 pt-md-4 pb-lg-5">
    <div class="row d-md-flex h-100 align-items-md-center">
        <div class="col-4 col-sm-3 col-md-2 col-lg-4 pr-0">
            <img class="img-ditap-face-responsive img-ditap-face-big-on-tablet" src="DitaP/media/DitaP/images/img_dita_face.png">
        </div>
        <div class="col-8 col-sm-7 col-md-9 col-lg-8 pl-0 pt-1 pl-md-2">
            <span class="text-ditap-quotation">Napište mi, budu ráda za Vaši milou zprávu.</span>
        </div>
    </div>
    <div class="row mt-4 main-contact-form">
        <div class="col-12">
            <div class="form-row mb-2">
                <div class="col-12 col-md-6 col-lg-12 mb-2">
                    <label class="text-ditap-label">Jméno a příjmení</label>
                    <input type="text" name="name" class="form-control input-ditap-lg" value="Marcela Králová" required />
                    <div class="text-left invalid-feedback pt-2">
                        Chybová hláška
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-12 pt-2 pt-md-0 pt-lg-2">
                    <label class="text-ditap-label">E-mail</label>
                    <input type="email" name="email" class="form-control input-ditap-lg" value="marcela.kralova@seznam.cz" required />
                    <div class="text-left invalid-feedback pt-2">
                        Chybová hláška
                    </div>
                </div>
            </div>

            <div class="form-group mb-4 pt-2">
                <label class="text-ditap-label">Text zprávy</label>
                <textarea type="text" name="message" rows="6" class="form-control textarea-ditap" placeholder="" required></textarea>
                <div class="text-left invalid-feedback pt-2">
                    Chybová hláška
                </div>
            </div>
            <input type="submit" class="btn btn-ditap btn-ditap-medium btn-ditap-blue mb-lg-3" value="Odeslat"/>
            <div class="text-center form-sent-message pt-1 pb-3">
                <span class="text-ditap-quotation">Odesláno, děkuji za zprávu!</span>
            </div>
        </div>
    </div>
</div>