<!--Předvypněno-->
<div class="form-contact frame-ditap">
    <div class="row">
        <div class="col-4 pr-0">
            <img class="rounded-circle" src="DitaP/media/DitaP/images/img_dita_face.png">
        </div>
        <div class="col-8 pl-2 pt-3">
            <span class="quotation">Napište mi, budu ráda za Vaši milou zprávu.</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="form-group">
                <label class="label-ditap">Jméno a příjmení</label>
                <input type="text" class="form-control input-ditap-lg" value="Marcela Králová">
            </div>
            <div class="form-group">
                <label class="label-ditap">E-mail</label>
                <input type="email" class="form-control input-ditap-lg" value="marcela.kralova@seznam.cz">
            </div>
            <div class="form-group">
                <label class="label-ditap">Text zprávy</label>
                <textarea type="text" rows="6" class="form-control textarea-ditap" placeholder=""></textarea>
            </div>
            <input type="button" class="btn-ditap btn-ditap-blue" value="Odeslat"/>
        </div>
    </div>
</div>


<!--Odesláno-->
<!--do not delete! version after posting. Look.-->

<!--<div class="form-contact">-->
    <!--<div class="row">-->
        <!--<div class="col-5">-->
            <!--<img src="DitaP/media/DitaP/images/img_dita_face.png">-->
        <!--</div>-->
        <!--<div class="col-7">-->
            <!--<span class="quotation">Napište mi, budu ráda za Vaši milou zprávu.</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row mt-4">-->
        <!--<div class="col-12">-->
            <!--<div class="form-group">-->
                <!--<label class="label-ditap">Jméno a příjmení</label>-->
                <!--<input type="text" class="form-control h-55" value="">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="label-ditap">E-mail</label>-->
                <!--<input type="email" class="form-control h-55" value="">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="label-ditap">Text zprávy</label>-->
                <!--<textarea type="text" rows="" class="form-control" placeholder=""></textarea>-->
            <!--</div>-->
            <!--&lt;!&ndash;<input type="button" class="btn-ditap btn-ditap-blue" value="Odeslat"/>&ndash;&gt;-->
            <!--<p class="quotation text-center font-weight-bold">Odesláno, děkuji za zprávu!</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->