<section class="redirect-diary-card m-b-4vh">
    <div class="container pl-4 pl-md-0 pr-4 pr-md-0">
        <div class="row banner-zoom image-zoom-slow">
            <div class="col-12 pb-3">
                <a href="#" class="img-banner-ditap d-block card-panel position-relative o-h">
                    <div class="position-absolute d-flex justify-content-start align-items-start align-items-sm-center w-100 h-100">
                        <div class="pl-3 pt-5 pl-sm-5 pt-sm-0">
                            <div class="card-panel-caption mt-3">
                                <p class="headline-sm text-color-dynamic">5 receptů</p>
                                <h2 class="text-color-dynamic">Vejce, kalíšky<br> a já</h2>
                            </div>
                        </div>
                    </div>
                    <img class="img-zoom img-translate-33" src="DitaP/media/DitaP/images/1180x620/story04-1180x620.jpg" alt="Příběh mého porcelánu"/>
                </a>
            </div>
        </div>
    </div>
</section>