<section class="bg-gray">
    <div class="container-grid">
        <p class="text-ditap-h4 text-center mb-4-5-7 mt-5-7-7">Deník Dity P. 2</p>
        <div class="row justify-content-between no-gutters w-100">
            <!-- 1 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/pod-stanem.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Pod stanem</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Indiánský chleba</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Rýžová kaše s malinovým</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Topinky s tuňákovou</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Vejce v rajčatové omáčce</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/moje-dorty.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Dort pro Davida</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Ovocné dortíky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Ovocný dort z ovesné mouky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Ředkvičková pomazánka</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/snidane-v-trave.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Snídaně v trávě</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Hrášková polévka</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Kremrole</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pečené jehněčí</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/v-ligurii.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">V Ligurii na olivách</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Koláč s olivovým olejem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pečená dýně nadívaná houbami</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Těstoviny s olivami, cherry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/buchty-na-plech.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Buchty na plech</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Koláč s malinami a mascarpone</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Koláč se zakysanou smetanou</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Rebarborové řezy</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/prazdniny-na-chalupe.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Prázdniny na chalupě</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Králík pečený na česneku</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Kulajda</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Kynuté borůvkové knedlíky</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/rodinny-prebor.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Rodinný přebor</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Bramboráky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Nakládaný hermelín</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pečené koleno</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/halusky.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Halušky ze Závady</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Džatky s mákem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Gróbská husí stehna s lokšemi</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Halušky s bryndzou</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 9 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/panelstory.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Panelstory</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Francouzské brambory</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Hrachovka s krutony</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pohár Věra</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Skořicové lívanečky</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 10 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/v-italii.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">V Itálii na lanýžích</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Dušené vepřové nadivoko</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Míchaná vajíčka</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Parmazánové rizoto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 11 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/pesto.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Nejlepší pesto na světě</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Domácí těstoviny</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pesto</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Toskánská rajčatová polévka</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 12 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/jidla-pro-dusi.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Jídla pro duši</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Dýňový cheesecake</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Líčka na víně s bramborovou kaší</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Slepičí polévka</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 13 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/novy-rok.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Šťastný Nový rok</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Utopenci</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pistáciové sušenky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Paprikáš</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 14 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/na-parniku.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Na parníku</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pljeskavica s ajvarem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Krkovičky s medovo-pivní bbq</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Grilované kuře s ledovým salátem</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 15 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/hnizdeni.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Hnízdění</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pomalu pečená vepřová plec</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Karbanátky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Sulc</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 16 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/za-dva.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Když jím za dva</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Těstoviny s ricottou</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Marinovaný grilovaný losos</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Dort Mississippi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-auto w-100 d-block d-md-none text-center">
                <a href="#" class="btn btn-ditap btn-ditap-blue btn-ditap-show-more mb-0">
                    Načíst další
                    <span class="badge badge-pill">3</span>
                </a>
            </div>
        </div>
    </div>
</section>
