
<section class="bg-gray">
    <div class="container-grid">
        <p class="text-ditap-h4 text-center mb-4-5-7 mt-5-7-7">Deník Dity P.</p>
        <div class="row justify-content-between no-gutters w-100">
            <!-- 1 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/teple-dezerty.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Buchty na plech</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Čokoládové bábovičky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Krambl</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Obrácený jablečný koláč</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Tvarohové taštičky s povidly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/zavarovani.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Zavařování</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Čokoládové bábovičky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Obrácený jablečný koláč</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Tvarohové taštičky s povidly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 3 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/moje-dorty.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Moje dorty</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Čokoládové bábovičky</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Obrácený jablečný koláč</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Krambl</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Tvarohové taštičky s povidly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <!-- Small recipe collection card -->
            <div class="col-auto">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/po-babicce.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Po babičce</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Králík na smetaně</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Koblihy</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Koprovka s bramborama</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Bramboračka</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/piknik.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Piknik</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Lotrinský Quiche s chřestem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Paštika s chřestem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Jarní kuřátka s citronem</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Jablečné bábovičky s javorovým sirupem</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280//vyprostovaky.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Vyprošťováky</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Citronáda</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Krémová česnečka</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Fish & chips a domácí tatarka</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <!-- Small recipe collection card -->
            <div class="col-auto d-none d-md-block w-49-p">
                <div class="tile small-card recipe-collection-card">
                    <a href="#">
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/party.jpg" alt="">
                    </a>
                    <div class="small-card-text-box text-left">
                        <a href="#" class="text-ditap-serif link-black">Sourozenecká párty</a>
                        <ul class="list-unstyled">
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Krůtí stehna se šalotkami</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Pudinkový trifle</a>
                            </li>
                            <li class="text-truncate">
                                <a href="#" class="link-black text-ditap-paragraph-2">Salát s pečenou řepou</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-auto w-100 d-block d-md-none text-center">
                <a href="#" class="btn btn-ditap btn-ditap-blue btn-ditap-show-more mb-0">
                    Načíst další
                    <span class="badge badge-pill">3</span>
                </a>
            </div>
        </div>
    </div>
</section>
