<section class="bg-gray pb-7-10-12">
    <div class="container-grid">
        <p class="text-ditap-h4 text-center mb-0 pb-4-5-7 pt-5-7-10">Může se vám hodit</p>
        <div class="row no-gutters justify-content-between w-100">
            <!--1-->
            <!-- Small product card without slider (two lines) -->
            <div class="col-auto">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/denik280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Kuchařka<br/>Deník Dity P.</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!--2 -->
            <!-- Small product card without slider (two lines) -->
            <div class="col-auto">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/melky-talir-steh-280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Mělký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">225 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!--3-->
            <!-- Small video teaser card -->
            <div class="col-auto">
                <a href="#" class="tile small-card video-card d-block">
                    <div class="position-relative">
                        <div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                            <span class="icon-ditap-play"></span>
                        </div>
                        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/podstanem-280x280.jpg" alt="">
                    </div>
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 m-0 mb-2">
                            <span class="d-inline align-middle icon-ditap-tv"></span>
                            Deník Dity P.
                        </p>
                        <p class="text-ditap-serif">(II. řada)<br/>Pod stanem</p>
                    </div>
                </a>
            </div>
            <!--4-->
            <!-- Small recipe teaser card -->
            <div class="col-auto d-md-none d-lg-block">
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept-3-280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Série receptů</p>
                        <p class="text-ditap-serif">Famózní večeře<br> pro každý den</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 d-none d-md-block d-lg-none text-center mt-5">
                <input type="button" class="btn-ditap btn-ditap-blue" value="Načíst další">
            </div>
        </div>
    </div>
</section>