<style>
    .promo-stories {
        border-top: 1px solid #E8E8E8;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .promo-stories .container {
        padding-left: 20px;
        padding-right: 19px;
    }

    @media screen and (min-width: 767px) {
        .promo-stories {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        .promo-stories .container {
            padding-left: 10px;
            padding-right: 10px;
        }

        .card-panel > div.promo-content,
        .card-panel > img {
            max-height: 460px;
        }
    }

    @media screen and (min-width: 992px) {
        .promo-stories {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .card-panel > div.promo-content,
        .card-panel > img {
            max-height: 620px;
        }
    }

    @media screen and (min-width: 1200px) {
        .promo-stories .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>

<section class="promo-stories border-0">
    <div class="container container-1180">
        <div class="row no-gutters">
            <div class="col-12">
                <a href="#" class="card-panel d-block position-relative o-h banner-zoom image-zoom-fast">
                    <div class="promo-content position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-md-center">
                            <p class="text-ditap-h2 mb-0">Dita<br/>Pecháčková</p>
                            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue mt-4 ml-3 ml-md-0">Můj příběh</button>
                        </div>
                    </div>
                    <img class="img-zoom img-translate-responsive" src="DitaP/media/DitaP/images/1180x620/banner-story-ditap.jpg" alt="Dita Pecháčková - Můj příběh"/>
                </a>
            </div>
        </div>
    </div>
</section>