    <div class="container-grid">
        <div class="accordion" id="accordion4" role="tablist" aria-multiselectable="true">
            <p class="text-center text-lg-left text-ditap-h4 pb-2 pt-md-2 pb-md-5">časté otázky</p>
            <!--1-->
            <div class="accord">
                <div class="" role="tab" id="dh1">
                    <a href="#d1" class="pl-3 pr-3 pb-4 card-header perex text-ditap-perex" data-toggle="collapse"
                       data-parent="#accordion4"
                       aria-expanded="false" aria-controls="d1">
                        Je možné si někde prohlédnout porcelán naživo?
                    </a>
                </div>

                <div id="d1" class="collapse" role="tabpanel" aria-labelledby="dh1" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="accord">
                <div class="" role="tab" id="dh2">
                    <a href="#d2" class="pl-3 pr-3 pb-4 card-header perex text-ditap-perex" data-toggle="collapse"
                       data-parent="#accordion4"
                       aria-expanded="false" aria-controls="d2">
                        Jak zjistím stav mojí objednávky?
                    </a>
                </div>
                <div id="d2" class="collapse" role="tabpanel" aria-labelledby="dh2" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="accord">
                <div class="" role="tab" id="dh3">
                    <a href="#d3" class="pl-3 pr-3 pb-4 card-header perex text-ditap-perex" data-toggle="collapse"
                       data-parent="#accordion4"
                       aria-expanded="false" aria-controls="d3">
                        Můžu objednávku ještě po odeslání změnit?
                    </a>
                </div>
                <div id="d3" class="collapse" role="tabpanel" aria-labelledby="dh3" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="accord">
                <div class="" role="tab" id="dh4">
                    <a href="#d4" class="pl-3 pr-3 pb-4 card-header perex text-ditap-perex" data-toggle="collapse"
                       data-parent="#accordion4"
                       aria-expanded="false" aria-controls="d4">
                        Kde najdu číslo pro sledování zásilky?
                    </a>
                </div>
                <div id="d4" class="collapse" role="tabpanel" aria-labelledby="dh4" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-default">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>

            <style>
                .accordion .accord-fake .card-header[aria-expanded="false"]{
                    border-bottom: 0 !important;
                }
                .accordion .accord-fake a.card-header[aria-expanded="true"] {
                    border-top: 1px solid rgba(0, 0, 0, .125);
                    margin-top: -2px;
                }
                .accordion .accord-fake .collapse.show {
                    border-bottom: 0;
                    margin-bottom: -3px;
                }
                .accord-fake a{
                    padding: 0!important;
                }
                .accord-fake a.card-header:after{
                    display: none;
                }
            </style>
            <div class="accord accord-fake">
                <div class="" role="tab" id="dh5">
                    <a href="#d5" class="card-header" data-toggle="collapse"
                       data-parent="#accordion4"
                       aria-expanded="false" aria-controls="d5">

                    </a>
                </div>
                <div id="d5" class="collapse" role="tabpanel" aria-labelledby="dh5" data-parent="#accordion4">
                    <div class="card-body">

                    </div>
                </div>
            </div>

        </div>
    </div>
