
<section class="promo-stories-two">
    <div class="container-grid">
        <div class="row no-gutters justify-content-between">
            <div class="col-12 col-md-6 pb-3 p-md-0">
                <div class="card-panel banner-zoom image-zoom-fast position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center">
                            <h3 class="text-ditap-h3 mb-4">Příběh <br> mého porcelánu</h3>
                            <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Prohlédnout</a>
                        </div>
                    </div>
                    <img class="img-zoom" src="DitaP/media/DitaP/images/620x620/porcelain1_620x620.jpg" alt="Příběh mého porcelánu"/>
                </div>
            </div>
            <div class="col-12 col-md-6 p-md-0">
                <div class="card-panel banner-zoom image-zoom-fast position-relative o-h">
                    <div class="position-absolute d-flex justify-content-center align-items-center w-100 h-100">
                        <div class="text-center">
                            <h3 class="text-ditap-h3 mb-4">Dita<br/>Pecháčková</h3>
                            <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Můj příběh</a>
                        </div>
                    </div>
                    <img class="img-zoom" src="DitaP/media/DitaP/images/620x620/ditaP-story1_620x620.jpg" alt="Můj příběh"/>
                </div>
            </div>
        </div>
    </div>
</section>