<section class="bg-gray tiles-4-3-4 mb-5-8-10">
    <div class="container-grid">
        <p class="text-ditap-h4 text-center m-0 tiles-headline">Doporučuji přihodit<br> do košíku</p>
        <div class="row no-gutters justify-content-between w-100">
            <!-- 1 -->
            <div class="col-auto">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada<br/>Jen dva hrnečky</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 2 -->
            <div class="col-auto">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Hluboký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 3 -->
            <div class="col-auto">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Melky_talir_steh.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Mělký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- 4 -->
            <div class="col-auto d-md-none d-lg-block">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada<br/>Jen dva hrnečky</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>