<section class="mb-7-10-12">
    <div class="container-grid container-920">
        <!--Zboží-->
        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
            <h4 class="text-center text-ditap-h4 mt-lg-3 pb-4 pt-md-2 pb-md-5 pl-5 pr-5">Zboží</h4>
            <!--1-->
            <div class="accord">
                <!--header-->
                <div class="" role="tab" id="headingOne">
                    <a href="#collapseOne" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" aria-controls="collapseOne">
                        Je možné si někde prohlédnout porcelán naživo?
                    </a>
                </div>
                <!--content-->
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion1">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor. Quisque tincidunt scelerisque
                            libero. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Pellentesque
                            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Objednávka-->
        <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">
            <p class="text-center text-ditap-h4 mt-lg-3 pt-5 pb-3 pb-md-4 pl-5 pr-5">Objednávka</p>
            <!--1-->
            <div class="accord">
                <div class="" role="tab" id="bh1">
                    <a href="#b1" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="b1">
                        Jak zjistím stav mojí objednávky?
                    </a>
                </div>

                <div id="b1" class="collapse" role="tabpanel" aria-labelledby="bh1" data-parent="#accordion2">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="accord">
                <div class="" role="tab" id="bh2">
                    <a href="#b2" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="b2">
                        Můžu objednávku ještě po odeslání změnit?
                    </a>
                </div>
                <div id="b2" class="collapse" role="tabpanel" aria-labelledby="bh2" data-parent="#accordion2">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="accord">
                <div class="" role="tab" id="bh3">
                    <a href="#b3" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="b3">
                        Je možné si někde prohlédnout porcelán naživo?
                    </a>
                </div>
                <div id="b3" class="collapse" role="tabpanel" aria-labelledby="bh3" data-parent="#accordion2">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="accord">
                <div class="" role="tab" id="bh4">
                    <a href="#b4" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="b4">
                        Do kterých zemí je možné objednávku doručit? Posíláte na Slovensko?
                    </a>
                </div>
                <div id="b4" class="collapse" role="tabpanel" aria-labelledby="bh4" data-parent="#accordion2">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--5-->
            <div class="accord">
                <div class="" role="tab" id="bh5">
                    <a href="#b5" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion2" aria-expanded="false" aria-controls="b5">
                        Kde najdu fakturu ke svému nákupu?
                    </a>
                </div>
                <div id="b5" class="collapse" role="tabpanel" aria-labelledby="bh5" data-parent="#accordion2">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Platba-->
        <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
            <p class="text-center text-ditap-h4 mt-lg-3 pt-5 pb-3 pb-md-4 pl-5 pr-5">Platba</p>
            <!--1-->
            <div class="accord">
                <div class="" role="tab" id="ch1">
                    <a href="#c1" class="pl-3 pr-3 card-header perex text-ditap-perex"  data-toggle="collapse" data-parent="#accordion3" aria-expanded="false" aria-controls="c1">
                        Mohu uplatnit více dárkových poukázek v jedné objednávce?
                    </a>
                </div>
                <div id="c1" class="collapse" role="tabpanel" aria-labelledby="ch1" data-parent="#accordion3">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="accord">
                <div class="" role="tab" id="ch2">
                    <a href="#c2" class="pl-3 pr-3 card-header perex text-ditap-perex"  data-toggle="collapse" data-parent="#accordion3" aria-expanded="false" aria-controls="c2">
                        Co když se mi nedaří zaplatit platební kartou online?
                    </a>
                </div>
                <div id="c2" class="collapse" role="tabpanel" aria-labelledby="ch2" data-parent="#accordion3">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Doprava-->
        <div class="accordion" id="accordion4" role="tablist" aria-multiselectable="true">
            <p class="text-center text-ditap-h4 mt-lg-3 pt-5 pb-3 pb-md-4 pl-5 pr-5">Doprava</p>
            <!--1-->
            <div class="accord">
                <div class="" role="tab" id="dh1">
                    <a href="#d1" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion4" aria-expanded="false" aria-controls="d1">
                        Je doprava porcelánu bezpečná?
                    </a>
                </div>

                <div id="d1" class="collapse" role="tabpanel" aria-labelledby="dh1" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--2-->
            <div class="accord">
                <div class="" role="tab" id="dh2">
                    <a href="#d2" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion4" aria-expanded="false" aria-controls="d2">
                        Proč je cena za dopravu u sady porcelánu vyšší?
                    </a>
                </div>
                <div id="d2" class="collapse" role="tabpanel" aria-labelledby="dh2" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
            <!--3-->
            <div class="accord">
                <div class="" role="tab" id="dh3">
                    <a href="#d3" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion4" aria-expanded="false" aria-controls="d3">
                        Kde najdu číslo pro sledování zásilky?
                    </a>
                </div>
                <div id="d3" class="collapse" role="tabpanel" aria-labelledby="dh3" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
            <!--4-->
            <div class="accord">
                <div class="" role="tab" id="dh4">
                    <a href="#d4" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion4" aria-expanded="false" aria-controls="d4">
                        Jak mám převzít balík od dopravce a na co si dát pozor?
                    </a>
                </div>
                <div id="d4" class="collapse" role="tabpanel" aria-labelledby="dh4" data-parent="#accordion4">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam ornare wisi eu
                            metus. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu.
                            Maecenas lorem. Mauris elementum mauris vitae tortor.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--Reklamace, vrácení zboží-->
        <div class="accordion" id="accordion5" role="tablist" aria-multiselectable="true">
            <p class="text-center text-ditap-h4 mt-lg-3 pt-5 pb-3 pb-md-4 pl-5 pr-5">Reklamace, vrácení zboží</p>
            <!--1-->
            <div class="accord">
                <!--header-->
                <div class="" role="tab" id="eh1">
                    <a href="#e1" class="pl-3 pr-3 card-header perex text-ditap-perex" data-toggle="collapse" data-parent="#accordion5" aria-expanded="false" aria-controls="e1">
                        Jak mám reklamovat poškozené zboží?
                    </a>
                </div>
                <!--content-->
                <div id="e1" class="collapse" role="tabpanel" aria-labelledby="eh1" data-parent="#accordion5">
                    <div class="card-body pl-3 pt-0">
                        <p class="text-ditap-paragraph">Díky křehkosti porcelánu nemusí některé kusy náročnou cestu k Vám vydržet.
                            V tomto případě si Vás dovolujeme informovat, že podle obchodních podmínek máte
                            nárok na reklamaci pouze v případě, pokud pečlivě zdokumentujete Vaši objednávku při
                            rozbalování:</p>
                        <p class="text-ditap-serif pt-3">1. Pořiďte tyto fotografie</p>
                        <p class="text-ditap-paragraph my-0">Krabice (vždy, i v případě, kdy není poškozena)</p>
                        <ul class="text-ditap-paragraph small-bullets pl-3">
                            <li>vrchní pohled s manipulačními značkami (štítek PPL, označení sklo / porcelán,
                                nálepka křehké)
                            </li>
                            <li>pohled na případné poškození krabice</li>
                            <li>pohled na výplňový materiál po otevření krabice</li>
                        </ul>
                        <p class="text-ditap-paragraph my-0">Poškozené zboží</p>
                        <ul class="text-ditap-paragraph small-bullets pl-3">
                            <li>produkt vyjmutý z krabice včetně obalového materiálu</li>
                            <li>produkt bez veškerých obalů, případně detail poškození</li>
                            <li>výplňový materiál po vyjmutí poškozených produktů</li>
                        </ul>
                        <p class="text-ditap-serif pt-3">2. Pošlete nám e-mail</p>
                        <p class="text-ditap-paragraph">
                            Do 2 dnů zašlete tyto fotografie a počet rozbitých či poškozených kusů na emailovou adresu <a href="#" class="link-blue link-ditap-mailto">info@ditap.cz</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>