<style>

    .section-eshop-services {
        padding-top: 0;
    }

    .section-eshop-services p.text-ditap-h8 {
        margin-bottom: 1em;
    }

    .section-eshop-services .services-icon {
        font-size: 48px;
        display: inline-block;
        padding-top: 4px;
        padding-right: 25px;
    }

    .section-eshop-services .service-card {
        padding-bottom: 14px;
        min-height: 100px;
    }

    .section-eshop-services .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-eshop-services .btn-ditap {
        margin-top: 15px;
        margin-bottom: 70px;
        height: 35px;
        padding: 11px 15px;
    }

    @media screen and (max-width: 335px) {
        .section-eshop-services .container {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    @media screen and (min-width: 767px) {

        .section-eshop-services .services-icon {
            font-size: 77px;
            padding-top: 0;
            padding-right: 0;
            margin-bottom: 30px;
        }

        .section-eshop-services .container {
            padding-left: 25px;
            padding-right: 25px;
        }

        .section-eshop-services .service-card {
            width: 220px;
            padding-left: 0;
            padding-right: 0;
            margin-right: 20px;
        }

        .section-eshop-services .service-card hr {
            margin-top: 25px;
        }

        .section-eshop-services .service-card:last-of-type {
            margin-right: 0;
        }

        .section-eshop-services .btn-ditap {
            height: 45px;
            margin-top: 21px;
            margin-bottom: 80px;
            padding: 17px 21px;
            font-size: 12px;
        }
    }

    @media screen and (min-width: 992px) {

        .section-eshop-services .btn-ditap {
            padding: 15px 21px;
        }

        .section-eshop-services .container {
            padding-left: 55px;
            padding-right: 55px;
        }

        .section-eshop-services .service-card {
            width: 280px;
        }
    }

    @media screen and (min-width: 1200px) {
        .section-eshop-services .service-card {
            width: 300px;
            margin-right: 100px;
            padding-left: 20px;
            padding-right: 20px;

        }

        .section-eshop-services .container {
            padding-left: 55px;
            padding-right: 55px;
        }
    }

</style>

<section class="section-eshop-services bg-gray">
    <div class="container container-1180">
        <div class="row">
            <!-- Delivery -->
            <div class="service-card col-12 col-md-auto text-left text-md-center d-flex flex-row flex-md-column">
                <div class="">
                    <span class="services-icon ditap-ico_symbol_delivery_mob"></span>
                </div>
                <div class="">
                    <p class="text-ditap-h8">Doručení do 7 dnů</p>
                    <p class="text-small-on-mobile">Zboží, které mám skladem, vždy. To ostatní může trvat trošku déle.</p>
                    <hr class="hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Packaging -->
            <div class="service-card col-12 col-md-auto text-left text-md-center d-flex flex-row flex-md-column">
                <div class="">
                    <span class="services-icon ditap-ico_symbol_packed_mob"></span>
                </div>
                <div class="">
                    <p class="text-ditap-h8">Pečlivě zabaleno</p>
                    <p class="text-small-on-mobile">Aby se ani porcelánu nic nestalo a dorazil k vám v pořádku.</p>
                    <hr class="hr-small d-none d-md-block"/>
                </div>
            </div>
            <!-- Made in CR -->
            <div class="service-card col-12 col-md-auto text-left text-md-center d-flex flex-row flex-md-column">
                <div class="">
                    <span class="services-icon ditap-ico_symbol_czech_mob"></span>
                </div>
                <div class="">
                    <p class="text-ditap-h8">vyrobeno v česku</p>
                    <p class="text-small-on-mobile">Aby vše bylo v té nejlepší kvalitě, je všechno zboží lokálního původu.</p>
                    <hr class="hr-small d-none d-md-block"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a href="#" class="btn btn-ditap btn-ditap-blue">Vše o nákupu</a>
            </div>
        </div>
    </div>
</section>