<!-- Tips for presents section with tiles ( homepage ) -->
<section id="tips-presents" class="bg-grey section-mt section-mb">
    <div class="section-intro container container-1180 text-center">
        <p class="text-ditap-h4 text-center mt-3 mb-0 mb-lg-1">Tipy na dárky</p>
    </div>
    <div class="container-grid">
        <div class="row no-gutters justify-content-between w-100">
            <!-- 1 medium card - and 4 small cards - 1 medium card -->
            <div class="col-auto order-1">
                <!-- Medium image card -->
                <a href="#" class="d-block tile medium-card image-card">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x440/eshop1_580x440.jpg" alt="">
                    <div class="medium-card-text-box text-left position-absolute">
                        <p class="text-ditap-h8 color-red">Top</p>
                        <h3 class="text-ditap-h5">Sváteční sady<br/>zlato a platina</h3>
                    </div>
                </a>
            </div>
            <div class="col-auto order-2">
                <!-- Tip card -->
                <div class="tile small-card tip-card d-block">
                    <img class="img-ditap-face-responsive mb-3" src="DitaP/media/DitaP/images/img_dita_face.png" alt="Dita P."/>
                    <div class="text-center">
                        <p class="text-ditap-h8 mb-2 mt-xl-2 mb-xl-3 px-md-2 px-xl-3">Chystáte se na svatbu?</p>
                        <p class="text-ditap-quotation">
                            Vybrat správný dárek je vždycky oříšek. Proto jsem pro vás vybrala ty nejlepší,
                            se kterými se prostě nemůžete netrefit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-auto order-3 order-md-5 order-lg-3">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop1_280x280.jpg" alt="">
                    <div class="small-card-text-box textbox-single text-center">
                        <p class="text-ditap-serif m-0">Pyžamo pro tátu</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">2 975 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <div class="col-auto order-4">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop2_280x280.jpg" alt="">
                    <div class="small-card-text-box textbox-single text-center">
                        <p class="text-ditap-serif m-0">Pyžamo pro mámu</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">2 795 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <div class="col-auto order-6 order-md-4 order-lg-5">
                <!-- Medium product card -->
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <div class="col-auto order-5 order-sm-2 order-md-6 d-none d-sm-block last-small-tile-tablet">
                <!-- Small product card without slider -->
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada<br/>Jen dva hrnečky</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>