
<div class="banner-ditap jumbotron jumbotron-fluid p-0">
    <div class="position-relative o-h">
        <div class="card-panel position-absolute d-flex justify-content-start align-items-center w-100 h-100">
            <div class="container-grid text-left pt-xl-6">
                <div class="row no-gutters justify-content-start w-100">
                    <div class="col-auto">
                        <div class="card-align-position">
                            <p class="text-ditap-h8 text-white">5 Receptů</p>
                            <h1 class="text-ditap-h2 text-white">Poběžte, čekám<br/>vás u křížku!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<img class="img-banner d-block mx-auto img-translate-responsive"-->
             <!--src="DitaP/media/DitaP/images/carousel/slide1.jpg"-->
             <!--alt="Já prostě vařím každý den"/>-->
        <div class="carousel-inner">
            <div class="carousel-item active image-wrap">
                <img class="carousel-slide  d-block mx-auto img-translate-responsive" src="DitaP/media/DitaP/images/carousel/slide_01.jpg" alt="">

            </div>
        </div>
    </div>
</div>
