<style>
    @media screen and (min-width: 992px) {
        .carousel-wrapper {
            margin-top: 0;
        }
    }

    @media screen and (min-width: 1440px) {
        .carousel-wrapper {
            margin: 0 auto;
        }
    }
</style>

<section class="carousel-wrapper position-relative">
    <div id="ditap-carousel" class="carousel slide carousel-fade transition-timer-carousel" data-ride="true">
        <ol class="carousel-indicators carousel-indicators-numbers justify-content-start d-flex">
            <li data-target="#ditap-carousel" data-slide-to="0" class="active">1</li>
            <li data-target="#ditap-carousel" data-slide-to="1">2</li>
            <li data-target="#ditap-carousel" data-slide-to="2">3</li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_01.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline-sm text-ditap-h8">Nový deník</p>
                    <p class="carousel-headline text-ditap-h2">Poběžte, čekám<br/>vás u křížku!</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Přečíst</a>
                    </p>
                </div>
            </div>
            <div class="carousel-item image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_02.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline-sm text-ditap-h8">5 Receptů</p>
                    <p class="carousel-headline text-ditap-h2">Moje milované<br/>palačinky</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Přečíst</a>
                    </p>
                </div>
            </div>
            <div class="carousel-item image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_03.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline text-ditap-h2">Teď sleva 10 %<br/>na všechny sady Oběd.</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Prohlédnout</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Timer "progress bar" -->
        <hr class="transition-timer-carousel-progress-bar animate" />
    </div>
</section>