<style>
    @media screen and (min-width: 767px) {
        .teaser-cards-promo .card-promo .col-8 {
            padding-top: 20px !important;
        }
    }

    @media screen and (min-width: 992px) {
        .carousel-wrapper.hpcar {
            margin-top: 0;
        }

        .deck.teaser-cards-promo {
            bottom: 40px;
        }
    }

    @media screen and (min-width: 1440px) {
        .carousel-wrapper.hpcar {
            margin: 0 auto;
        }
    }

    /*# To be added in Kentico if needed */
    /*
    @media screen and (min-width: 1441px)  {
        .deck.teaser-cards-promo {
            right: 17rem;
        }
    }*/
</style>
<section class="carousel-wrapper hpcar position-relative">
    <div id="ditap-carousel" class="carousel slide carousel-fade transition-timer-carousel" data-ride="true">
        <ol class="carousel-indicators carousel-indicators-numbers justify-content-start d-flex">
            <li data-target="#ditap-carousel" data-slide-to="0" class="active">1</li>
            <li data-target="#ditap-carousel" data-slide-to="1">2</li>
            <li data-target="#ditap-carousel" data-slide-to="2">3</li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_01.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline-sm text-ditap-h8">Nový deník</p>
                    <p class="carousel-headline text-ditap-h2">Poběžte, čekám<br/>vás u křížku!</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Přečíst</a>
                    </p>
                </div>
                <!-- Promo cards 1 -->
                <div class="deck teaser-cards-promo d-none d-md-flex flex-md-column-reverse">
                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_len_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Len</span>
                                </p>
                                <p class="text-ditap-price-small mt-0">
                                    <span class="text-ditap-price-small pl-0 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_lodicky_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Lodičky</span>
                                </p>
                                <p class="text-ditap-price-small mt-0">
                                    <span class="text-ditap-price-small pl-0 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_pruh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Pruh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_steh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Steh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_mak_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Mák</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>
                </div>
            </div>
            <div class="carousel-item image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_02.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline-sm text-ditap-h8">5 Receptů</p>
                    <p class="carousel-headline text-ditap-h2">Moje milované<br/>palačinky</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Přečíst</a>
                    </p>
                </div>
                <!-- Promo cards 2-->
                <div class="deck teaser-cards-promo d-none d-md-flex flex-md-column-reverse">
                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_pruh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Pruh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_steh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Steh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>
                </div>
            </div>
            <div class="carousel-item image-wrap">
                <img class="carousel-slide" src="DitaP/media/DitaP/images/carousel/slide_03.jpg" alt="">
                <div class="carousel-caption d-block">
                    <p class="carousel-headline text-ditap-h2">Teď sleva 10 %<br/>na všechny sady Oběd.</p>
                    <p class="pt-lg-2">
                        <a href="#" class="btn btn-ditap btn-ditap-large btn-ditap-blue">Prohlédnout</a>
                    </p>
                </div>
                <!-- Promo cards 3-->
                <div class="deck teaser-cards-promo d-none d-md-flex flex-md-column-reverse">
                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_lodicky_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Lodičky</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_pruh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Pruh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default fs-14"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_steh_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Steh</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>

                    <a href="#" class="card-promo">
                        <div class="row">
                            <div class="col-8 pl-5 pt-3">
                                <p class="text-ditap-serif fs-15 p-0 m-0">Sada oběd</p>
                                <p class="text-ditap-paragraph-2 d-inline-block mb-1">
                                    <span class="ditap-ico_vzor_mak_mob fs-14 pr-1 d-inline align-middle"></span>
                                    <span class="d-inline align-middle">Mák</span>
                                </p>
                                <p class="text-ditap-price-small color-red">
                                    <span class="text-ditap-default"><del>4 539 Kč</del></span>
                                    <span class="text-ditap-price-small color-red pl-2 fs-14">4 085 Kč</span>
                                </p>
                            </div>
                            <div class="col-4">
                                <img class="float-right" src="DitaP/media/DitaP/images/120x120/p-promo.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="card-overlay-promo position-absolute"></div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Timer "progress bar" -->
        <hr class="transition-timer-carousel-progress-bar animate" />
    </div>
</section>