<section class="bg-gray border-bottom">
    <div class="container-grid o-h">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-ditap-h4 mb-4-5-7">může se vám hodit</h4>
            </div>
        </div>
        <!-- !!! IMPORTANT: This slider is on tablet only, other slides must be hidden on desktops and mobiles -->
        <div class="teaser-slider-variable-cards-variant row justify-content-between no-gutters w-100 mb-7-8-8">
            <!-- Medium product card -->
            <div class="col-auto pl-0 pr-20">
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain1_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Kalíšky se slánkou</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">425 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Small recipe teaser card -->
            <div class="col-auto pl-0 pr-20">
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept1_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
            <!-- Small recipe teaser card -->
            <div class="col-auto card-wrapper-small pl-0 pr-20">
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept2_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>

            <!-- 4 Hidden on Desktops AND Mobiles -->
            <div class="col-auto d-none d-md-block d-lg-none pl-0 pr-20">
                <a href="#" class="tile small-card recipe-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/recept2_280x280.jpg" alt="">
                    <div class="small-card-text-box text-left">
                        <p class="text-ditap-h8 mb-2">Recept</p>
                        <p class="text-ditap-serif">Rýžová kaše s malinovým džemem</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>