<!-- Product cateogry slider -->
<style>
    #product-category-slider {
        padding-bottom: 5px;
    }

    #product-category-slider .section-intro {
        padding-top: 35px;
    }

    .category-card {
         display: block;
         padding-left: 0;
         padding-right: 0;
         margin: 0 auto 12px auto;
    }

    .category-card .text-ditap-h8.color-red {
        font-size: 11px;
        top: -10px;
    }

    .category-card img {
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 335px) {
        .category-card {
            margin-bottom: -4px;
        }
    }

    @media screen and (min-width: 421px) {
        .product-category-slider .slick-slide {
            margin-right: 12px;
        }
    }

    @media screen and (min-width: 767px) {
        #product-category-slider {
            padding-bottom: 17px;
        }

        #product-category-slider .section-intro {
            padding-top: 50px;
        }

        .product-category-slider {
            max-width: 734px;
            margin: 0 auto;
        }

        .product-category-slider .slick-track {
            left: 17px;
        }

        .product-category-slider .slick-slide {
            margin-right: 20px;
        }
    }

    @media screen and (min-width: 992px) {
        #product-category-slider {
            padding-bottom: 80px;
        }

        #product-category-slider .section-intro {
            padding-top: 70px;
        }

        .category-card img {
            width: 100%;
            height: auto;
        }

        .product-category-slider .slick-arrow.slick-disabled {
            visibility: hidden;
        }

        .product-category-slider .slick-arrow {
            height: 100%;
            top: 0;
            padding-top: 195px;
        }

        .product-category-slider .slick-arrow.slick-next {
            right: 10px;
        }

        .product-category-slider .slick-arrow.slick-prev {
            left: 10px;
        }

        .product-category-slider {
            max-width: 940px;
            margin: 0 auto;
            overflow: visible;
        }

        .product-category-slider .slick-track {
            left: 0;
        }
    }

    @media (min-width: 1200px) and (max-width: 1439px) {

        .product-category-slider {
            max-width: 1180px;
        }

        .product-category-slider .slick-track {
            left: 0;
        }

        .product-category-slider .slick-arrow {
            padding-top: 210px;
        }
    }

    @media screen and (min-width: 1440px) {
        .product-category-slider {
            /*max-width: 1440px;*/
            max-width: 1920px;
            overflow-x: visible;
        }

        .product-category-slider .slick-track {
            /*left: 130px;*/
            left: 370px;
        }

        .product-category-slider .slick-arrow.slick-next {
            right: 10px;
        }

        .product-category-slider .slick-arrow.slick-prev {
            left: 10px;
        }

        .product-category-slider .slick-arrow {
            padding-top: 210px;
        }
    }

</style>

<div class="product-category-slider">
    <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
        <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3 class="text-ditap-h5">Porcelán</h3>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
        </div>
        <div class="img-bg">
            <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-porcelain.jpg" alt="Porcelán">
        </div>
    </a>

    <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
        <div class="card-content slide-caption position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3 class="text-ditap-h5 text-center">Zástěry<br/><span class="font-weight-bold text-ditap-h8 color-red">Nové</span></h3>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
        </div>
        <div class="img-bg">
            <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-aprons.jpg" alt="Zástěry">
        </div>
    </a>

    <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
        <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3 class="text-ditap-h5">Kuchařky</h3>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
        </div>
        <div class="img-bg">
            <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-cookbooks.jpg" alt="Porcelán">
        </div>
    </a>

    <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
        <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3 class="text-ditap-h5">Pyžama</h3>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
        </div>
        <div class="img-bg">
            <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-pajamas.jpg" alt="Pyžama">
        </div>
    </a>

    <a href="#" class="category-card banner-zoom image-zoom-fast o-h">
        <div class="card-content position-absolute w-100 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3 class="text-ditap-h5">Brože</h3>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue" tabindex="0">Prohlédnout</button>
        </div>
        <div class="img-bg">
            <img class="img-zoom" src="DitaP/media/DitaP/images/380x540/category-brooch2.jpg" alt="Brože">
        </div>
    </a>
</div>