
<section class="bg-gray pb-7-8-12 mt-7-10-12">
    <div class="container-md-fluid container-1180 pr-0 pl-0 o-h oh-xl-none">
        <div class="row text-center">
            <div class="col">
                <h4 class="text-ditap-h4 mb-3 mb-lg-5 pt-4-7-10 headline-two-lines-centered">
                    Večeře o sedmé vždycky servíruju<br class="d-none d-xl-block"/> na obědových sadách
                </h4>
                <p class="text-ditap-default mt-md-4 mb-4-5-7">A taky je střídám nebo různě kombinuju.</p>
            </div>
        </div>
        <div class="teaser-slider-variable-cards ml-lg-auto position-relative">
            <!-- There must be always 3 slides visible -->
            <!-- Medium product card -->
            <div class="">
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain2_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Oběd</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">4899 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Small product card without slider (two lines) -->
            <div class="">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Hluboký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">219 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Small product card without slider (two lines) -->
            <div class="">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Melky_talir_steh.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Mělký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">289 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Small product card without slider (two lines) -->
            <div class="">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop3_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Jen 2 hrnečky</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">629 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Medium product card -->
            <div class="">
                <a href="#" class="tile medium-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/580x280/porcelain2_580x280.jpg" alt="">
                    <div class="medium-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Sada Oběd</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">4899 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
            <!-- Small product card without slider (two lines) -->
            <div class="">
                <a href="#" class="tile small-card product-card d-block">
                    <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/hluboky_talir_280x280.jpg" alt="">
                    <div class="small-card-text-box text-center">
                        <p class="text-ditap-serif m-0">Hluboký talíř</p>
                        <hr/>
                        <p class="price text-ditap-price-small m-0">219 <span class="currency">Kč</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>