<!-- Small product card with slider -->
<div class="col-auto">
    <div class="tile small-card product-card product-card-slider">
        <a href="#" class="slide-tile d-block">
            <p class="product-pattern d-inline-block">
                <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                <span class="pattern-amount text-ditap-paragraph-2">4</span>
            </p>
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
            <div class="small-card-text-box text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr/>
                <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
            </div>
        </a>

        <a href="#" class="slide-tile d-block">
            <p class="product-pattern d-inline-block">
                <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                <span class="pattern-amount text-ditap-paragraph-2">4</span>
            </p>
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
            <div class="small-card-text-box text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr/>
                <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
            </div>
        </a>

        <a href="#" class="slide-tile d-block">
            <p class="product-pattern d-inline-block">
                <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                <span class="pattern-amount text-ditap-paragraph-2">4</span>
            </p>
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
            <div class="small-card-text-box text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr/>
                <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
            </div>
        </a>

        <a href="#" class="slide-tile d-block">
            <p class="product-pattern d-inline-block">
                <span class="pattern-icon d-inline align-middle ditap-ico_vzor_len_mob"></span>
                <span class="pattern-amount text-ditap-paragraph-2">4</span>
            </p>
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/Velky_servirovaci_talir_len.jpg" alt="">
            <div class="small-card-text-box text-center">
                <p class="text-ditap-serif m-0">Velký<br/>servírovací talíř</p>
                <hr/>
                <p class="price text-ditap-price-small m-0">389 <span class="currency">Kč</span></p>
            </div>
        </a>
    </div>
</div>