<!-- Small product card without slider (two lines) -->
<div class="col-auto">
    <a href="#" class="tile small-card product-card d-block">
        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/denik280.jpg" alt="">
        <div class="small-card-text-box text-center">
            <p class="text-ditap-serif m-0">Kuchařka<br/>Deník Dity P.</p>
            <hr/>
            <p class="price text-ditap-price-small m-0">598 <span class="currency">Kč</span></p>
        </div>
    </a>
</div>