<!-- Small product card without slider (single title) -->
<div class="col-auto">
    <a href="#" class="tile small-card product-card d-block">
        <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/eshop1_280x280.jpg" alt="">
        <div class="small-card-text-box textbox-single text-center">
            <p class="text-ditap-serif m-0">Pyžamo pro tátu</p>
            <hr/>
            <p class="price text-ditap-price-small m-0">2 975 <span class="currency">Kč</span></p>
        </div>
    </a>
</div>