<!-- Small Tip tile -->
<div class="col-auto">
    <div class="tile small-card tip-card">
        <img class="img-ditap-face-responsive mb-3" src="DitaP/media/DitaP/images/img_dita_face.png" alt="Dita P."/>
        <div class="text-center">
            <p class="text-ditap-h8 mb-2 mt-xl-2 mb-xl-3 px-md-2 px-xl-3">Chystáte se na svatbu?</p>
            <p class="text-ditap-quotation">
                Vybrat správný dárek je vždycky oříšek. Proto jsem pro vás vybrala ty nejlepší,
                se kterými se prostě nemůžete netrefit.
            </p>
        </div>
    </div>
</div>