<!-- Medium recipe teaser card with dark image -->
<div class="col-auto">
    <a href="#" class="tile medium-card image-card img-banner-ditap card-panel d-block">
        <img class="img-fluid" src="DitaP/media/DitaP/images/780x520/promo_img_00004.jpg" alt="">
        <div class="medium-card-text-box card-panel-caption text-left position-absolute">
            <p class="text-ditap-h8 text-color-dynamic">5 Receptů</p>
            <h3 class="text-ditap-h5 text-color-dynamic">Moje milovaná<br/>bazalka</h3>
        </div>
    </a>
</div>