<!-- Medium CTA card ( is 580px with on large desktops -xl and full with from mobile to -lg ) -->
<div class="col-12 col-xl-auto">
    <a href="#" class="tile medium-card medium-cta-card d-block cursor-pointer">
        <img src="DitaP/media/DitaP/images/coffee3.jpg" alt="">
        <div class="medium-card-text-box text-left position-absolute">
            <h3 class="text-ditap-h5 mb-md-4 mb-xl-0">Nechcete se rovnou zaregistrovat?</h3>
            <p class="text-ditap-quotation mt-md-3">
                Všechny údaje už znám z objednávky, stačí si jen nastavit heslo.
            </p>
            <p class="mb-1">
                <span class="d-inline align-middle ico-ok-green2 pr-2"></span>
                <span class="d-inline text-ditap-paragraph-2">Exklusivní recepty pro registrované</span>
            </p>
            <p class="mb-1">
                <span class="d-inline align-middle ico-ok-green2 pr-2"></span>
                <span class="d-inline text-ditap-paragraph-2">Všechny objednávky na jednom místě</span>
            </p>
            <p class="mb-1">
                <span class="d-inline align-middle ico-ok-green2 pr-2"></span>
                <span class="d-inline text-ditap-paragraph-2">Pohodlnější nákupy</span>
            </p>
            <button class="btn btn-ditap btn-ditap-large btn-ditap-blue mt-4">Registrovat</button>
        </div>
    </a>
</div>