<!-- Small recipe collection card -->
<div class="col-auto">
    <div class="tile small-card recipe-collection-card">
        <a href="#">
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/buchty-na-plech.jpg" alt="">
        </a>
        <div class="small-card-text-box text-left">
            <a href="#" class="text-ditap-serif link-black">Buchty na plech</a>
            <ul class="list-unstyled">
                <li class="text-truncate">
                    <a href="#" class="link-black text-ditap-paragraph-2">Koláč s malinami a mascarpone</a>
                </li>
                <li class="text-truncate">
                    <a href="#" class="link-black text-ditap-paragraph-2">Koláč se zakysanou smetanou a skořicí</a>
                </li>
                <li class="text-truncate">
                    <a href="#" class="link-black text-ditap-paragraph-2">Rebarborové řezy</a>
                </li>
            </ul>
        </div>
    </div>
</div>