<!-- Small video teaser card -->
<div class="col-auto">
    <a href="#" class="tile small-card video-card d-block">
        <div class="position-relative">
            <div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                <span class="icon-ditap-play"></span>
            </div>
            <img class="img-fluid" src="DitaP/media/DitaP/images/280x280/podstanem-280x280.jpg" alt="">
        </div>
        <div class="small-card-text-box text-left">
            <p class="text-ditap-h8 m-0 mb-2">
                <span class="d-inline align-middle icon-ditap-tv"></span>
                Deník Dity P.
            </p>
            <p class="text-ditap-serif">(II. řada)<br/>Pod stanem</p>
        </div>
    </a>
</div>